[2015-07-14 12:58] JoshSmith opened #23 "Add Comment model"
A `Comment` should belong to a `User` and a `Post`. It should have a `body` and a `timestamp` of some sort.

[2015-07-14 12:59] JoshSmith opened #24 "Add endpoint to create comments"
We should `POST` to create comments on a post.

[2015-07-15 00:31] JoshSmith commented on #1
I'm pretty sure this has been implemented now according to `spec/requests/api/users_spec.rb`. I'm closing.

[2015-07-15 00:36] JoshSmith commented on #3
I think this may be done but not as an endpoint. I'm pretty sure the OAuth credentialing flow handles it somehow, but not sure how. Probably just needs better documented.

[2015-07-15 00:37] JoshSmith commented on #2
This is not high priority, but when it comes time, I have working code from another application we can mostly just drop in.

[2015-11-19 19:49] scarfdestroyer commented on #4
https://github.com/code-corps/code-corps-api/pull/36

[2015-11-20 12:49] begedin commented on #3
#36 is related to his, but https://github.com/code-corps/code-corps-api/issues/3#issuecomment-121435947 makes me unsure if that's the solution we want.

[2015-11-20 12:50] begedin commented on #5
#37

[2015-11-20 13:11] begedin commented on #9
#35 adds title and description. Since icon needs additional handling, I delayed adding that until we merge #35 and also add project edpoints.

@JoshSmith Will the icon be an image we upload, or something small enough so we can save it as a base64 string?

[2015-11-20 18:43] JoshSmith commented on #9
@begedin it will be an image a user uploads.

[2015-11-20 23:28] scarfdestroyer commented on #27
https://github.com/code-corps/code-corps-api/pull/38

[2015-11-21 19:55] JoshSmith commented on #27
Completed by #38.

[2015-11-21 19:59] JoshSmith commented on #39
We'll also likely need a matcher for `/:slug/:project_slug`

[2015-11-23 06:46] JoshSmith commented on #39
Also see this for more explication: http://stackoverflow.com/questions/33837394/rails-same-top-level-url-route-for-organizations-user-domain-com-user-and-domai

[2015-11-24 10:31] begedin commented on #39
The rails side seems relatively simple.

The ember side would be the complicated one, but I guess we could do a manual ajax request instead of a `store.find`, followed by figuring out if we got back a user or an organization, pushing it to the store and then and then either redirect to the proper route, or just set the controller model , the type of which determines if we render an organization or

[2015-11-24 13:34] begedin commented on #12
Github differentiates between a repository owned by a user or one owned by an organization.

* [A Contributor on a user owned repository can be either an owner or collaborator](https://help.github.com/articles/permission-levels-for-a-user-account-repository/)

* For an organization owned repository, access levels can be granted either to teams, or individual users. It's a pretty complex system.

[2015-11-24 18:38] JoshSmith opened #44 "Add icons to projects"
We should have an icon created with Paperclip in S3 that's hosted through CloudFront.

[2015-11-24 18:39] JoshSmith commented on #9
Icon can be implemented in #44.

[2015-11-24 18:40] #23 closed

[2015-11-25 08:28] JoshSmith commented on #4
Does this return specific information about the error or just invalid credentials or something?

[2015-11-25 09:57] begedin opened #46 "User creation doesn't follow JSON API specs"

[2015-11-25 09:57] begedin opened #47 "Validation errors do not follow JSON API specs"

[2015-11-25 10:26] begedin opened #48 "Reset and forgot password errors do not follow JSON API specs"
This is what they look like at the moment:

[code]

I believe these should be replaced either by initializing a `ActiveModel::Errors` object (so we just serialize them as validation errors), or we should define our own custom errors and have the serializer serialize those.

[2015-11-25 14:39] begedin opened #50 "Work out access rights for post and comment creation"
* When should the user be allowed to create posts for a project?
  * Is it `post_type` specific? Role-specific? Project type specific? We need to flesh this out.
* When should the user be allowed to create comments for a post?
  * Some overlap with posts here, but also differences, I think.

[2015-11-26 03:31] JoshSmith commented on #48
:+1:

[2015-11-26 03:57] JoshSmith opened #53 "Post should include a project's users"
We'd like to add the ability to @mention at some point. This will require an `includes` for a project's user for any `Post`, since we need to be able to quickly reference a list of associated users for the project.

[2015-11-26 03:58] JoshSmith opened #54 "Add ability to @mention a user"
A user should be able to @mention users in both a `Post` and a `Comment`.

[2015-11-26 04:03] #46 closed

[2015-11-26 04:03] JoshSmith commented on #47
Closed by #49.

[2015-11-26 04:03] #47 closed

[2015-11-26 05:19] JoshSmith commented on #55
A random test of @erearerearaer.

[2015-11-26 05:19] JoshSmith commented on #55
@ebryn

[2015-11-26 06:13] JoshSmith commented on #55
Testing @scarfdestroyer/asd/asd-asd

[2015-11-26 06:34] JoshSmith commented on #54
Regex for picking out users and teams is `(?:\W|^)@((?:(?:(?:[^-\W]-?))*)(?:[^\/\W]\/?)?(?:(?:(?:[^-\W]-?))*)\w+)$`

[2015-11-26 06:36] JoshSmith commented on #54
### Should work
[code]

### Should NOT work
[code]

[2015-11-26 10:33] begedin commented on #8
Since we only have a `user_id` and `skill_id` to set on a `UserSkill` would there be a point in having a `PUT/PATCH` action?

[2015-11-26 11:48] begedin opened #57 "When creating a user_skill, if the associated skill does not exist, should we be able to create it?"
@JoshSmith

What is the user interface like in this case? Do we select a skill from a dropfdown/auto-complete when adding it to our profile, or are we also able to create a completely new skill?

[2015-11-26 12:13] begedin opened #58 "Should the admin be able to create and delete user_skills for other users through the "/user_skills" endpoint"
@JoshSmith  See title

[2015-11-26 13:30] begedin commented on #17
Since the posts endpoint will have pagination, should we just be getting the first page of posts here, somehow? Or maybe we should be getting just posts with status open?

Should the records be included, or just the relationships?

[2015-11-26 13:31] begedin commented on #18
Is there a fixed length to a page, or will we be specifying it in the request? The later gives more flexibility to me, and shouldn't be difficult to implement.

[2015-11-26 13:37] begedin commented on #22
My proposal:

* `post_likes` table
  * belongs to user
  * belongs to post, with counter cache
* `posts` gets a `post_likes_count` column
* `PostLike` model validates uniqueness of `user_id`, scoped to`post_id`
* `/post_likes` endpoint has a `POST` and `DELETE` action

[2015-11-27 08:54] JoshSmith commented on #18
I think we'd specifying it in the request, and there probably needs to be meta information for the pagination to work (number of pages, etc).

[2015-11-27 08:57] JoshSmith commented on #17
@begedin is there a better way to do this on ember side probably? And API endpoint for `/projects/:id/posts` or something would hit that anyway.

[2015-11-27 08:58] JoshSmith commented on #8
Probably not.

[2015-11-27 09:07] begedin opened #62 "Handle N+1 queries"
Set up https://github.com/flyerhzm/bullet to detect existing (and potential future) N+1 queries and fix them.

[2015-11-27 09:16] begedin commented on #17
I'm not sure exactly, but generally speaking, I don't think ember likes using nested routes on it's own.

There's a [linking feature defined in JSON API](http://jsonapi.org/format/#document-links), where you can specify links for related records in the parent record. This link would be an URL to the route that retrieves those related records.

I'm not sure if ember-data already supports this featu

[2015-11-27 09:16] #48 closed

[2015-11-27 22:17] scarfdestroyer commented on #14
Could we integrate the model for the repos and the adding them to the project description? For example, if you want to add a repo you give the API the URL, we parse it and get the information from Github and automatically create a "repository" model that associated with the project with the repository's info.

[2015-11-27 23:49] JoshSmith commented on #54
The user mentions returned by the API should individually have `indices` specifying where they're located in the text, the `username` and user's `name` along with `user_id`.

This will be similar for team mentions, except they will have `team_name`, `organization_name`, `organization_id, and `team_id`.

[2015-11-28 00:17] JoshSmith commented on #50
I think this is a combination of role inside a project and the post type.

I think comments on posts will always be allowed, regardless of the post type or relationship to a project.

Issues and ideas can be posted by anyone.

Progress posts and tasks can only be created by contributors to a project. This should encourage a higher level of ownership.

Also, the poster can close any post they creat

[2015-11-30 08:01] JoshSmith commented on #58
I don't see this happening all that often.

[2015-11-30 08:02] JoshSmith commented on #57
For now it'll be some sort of autocomplete functionality, or selecting from a list. But I don't think we should allow users to create a bunch of random skills. We'll seed it initially and only later consider opening that up.

[2015-11-30 08:14] begedin commented on #57
In that case, the `POST /user_skills` endpoint has this behavior covered. It requires the skill to be specified in the request and returns a validation error otherwise.

However, we do need to expose a `GET /skills` in this case, if we want an autocomplete #64.

[2015-11-30 08:14] begedin commented on #57
Closing this in favor of #64

[2015-11-30 08:14] #57 closed

[2015-11-30 08:15] begedin commented on #58
Closing this, since it was answered and there's nothing else to do about it for now.

[2015-11-30 08:15] #58 closed

[2015-11-30 08:59] #24 closed

[2015-11-30 11:28] begedin commented on #25
This question goes for #26 as well.

Is there some sort of special way we will be handling this? Will the server render the markdown into html and send it to the client? In that case, I'm guessing we have a `markdown` field, which can be edited and posted from the client. The server receives this, converts it to html and stores it into the `body` field?

That seems like the simplest, least intensi

[2015-11-30 13:22] begedin commented on #53
This will require the Contributor model to be implemented first.

*Blocked by #12*

[2015-11-30 13:23] begedin commented on #54
*Blocked by #53*

[2015-11-30 13:25] begedin commented on #44
Is this closed by #52, or do we need anything else added to it?

[2015-11-30 13:29] begedin commented on #13
Blocked by #12

[2015-11-30 13:29] begedin commented on #19
Blocked by #12

[2015-11-30 13:30] begedin commented on #20
Blocked by #12

[2015-11-30 13:31] begedin commented on #28
Blocked by #12

[2015-11-30 13:32] begedin commented on #50
This makes sense, but we there's no point in partially implementing it, until we have contributors. Blocked by #12

[2015-11-30 13:40] begedin commented on #12
@JoshSmith This is blocking a large number of our tasks, so we need to figure it out. My main source of confusion is how to take organization-owned projects into account.

The way I see it

If user owns a project

* There's a `Contributor` record for that user with role `:owner`
* Other users can request collaboration on the project
  * If the owner approves, a `Contributor` record is created with

[2015-11-30 13:40] begedin commented on #16
**Blocked by #14**

[2015-11-30 13:43] begedin commented on #64
@JoshSmith

What do you think? Should we be fetching a flat list of skills, or a list of categories with skills included? It all depends on how we want to do it on the client side and it's really not a large amount of work to do it either way.

[2015-11-30 18:34] JoshSmith commented on #64
I think maybe a list of categories with skills included for now.

[2015-11-30 18:37] JoshSmith commented on #12
I think I agree with everything you said except for the idea of there being `Contributor` records for the team members. I think a `Team` also has roles, which are `admin` and `collaborator`, which varies from project to project.

When you verify whether someone has the ability to do something, like post a particular type of post, we'd first check their direct collaborator status, then if they're o

[2015-11-30 19:20] #62 closed

[2015-11-30 19:23] #44 closed

[2015-11-30 19:25] JoshSmith commented on #25
Yeah, and we're going to need to some extra body processing when storing as it is, e.g. when fetching usernames.

[2015-11-30 20:45] begedin commented on #12
I'm not familiar with Pundit, but based on what I'm seeing, it does seem more fitting, since we use different sets of roles in different scenarios (as in, team management, project management, organizational management, handling project contributions, etc.).

[2015-11-30 20:46] begedin commented on #12
To add, I think the first step in that case should be to move the existing model to Pundit.

[2015-11-30 20:47] JoshSmith commented on #12
Okay, I agree. Does this seem like the logical thing to do? You agree with what I said earlier?

[2015-11-30 20:47] JoshSmith commented on #12
@begedin don't want to block you on so much so is this unblocking?

[2015-11-30 20:48] begedin commented on #12
Yeah. I was trying to fit our model into CanCan, but what you propose makes more sense, especially with something like pundit.

You can consider things to be unblocked now. Should I create a separate issue for the existing roles from moving from CanCan to Pundit, or do I do it as part of this one?

[2015-11-30 20:59] JoshSmith commented on #12
I think a separate task.

[2015-11-30 21:00] begedin commented on #12
Blocked by #67

[2015-12-01 09:36] begedin commented on #13
Based on how #12 is being implemented, we could go in multiple directions with this one. If we want simple RESTful routes, then we'd need

# First approach

* `POST /contributors` - This one creates a new Contributor record, with `project` set to provided project, `user` set to `current_user` and `status` set to "pending". It can be accessible by any logged in user.
* `PATCH /contributors` . This

[2015-12-01 16:58] JoshSmith commented on #25
Closed by #68.

[2015-12-01 16:58] JoshSmith commented on #26
This can be handled in much the same way as #68

[2015-12-01 18:02] JoshSmith commented on #55
Closed by #63

[2015-12-01 18:40] JoshSmith opened #72 "Add ability to sign up with Github"

[2015-12-02 07:19] JoshSmith opened #74 "Add images for posts and comments"
A `PostImage` or `CommentImage` should be able to be uploaded as a Base64 encoded file. We'll take the original filename and save that.

We'll be replacing the first occurrence of a string like `![Uploading wx4VIGt.jpg…]()` in the client-side with the actual URL of the image. I tested this on Github and if you paste that string and then drop the file in (which generates that string again), it will

[2015-12-02 10:04] begedin commented on #17
@JoshSmith The more I think about it, the more sense it makes to me not to include anything except maybe the relationships part (not actual include).

The way I see it, it's easier to fetch posts via `GET /posts?filter[project_id]=x&page[number]=y&page[size]=z`, which is the standard way of doing it.

In the case of an RSpec get request, this would be equivalent to

[code]

Basically, I'm thinking

[2015-12-03 07:07] JoshSmith commented on #20
I'm assigning this to @scarfdestroyer. Don't take this on @begedin.

[2015-12-04 23:15] JoshSmith opened #82 "Grab a user's photo from Facebook when they sign up"
We should be able to grab a user's photo when they sign up from Facebook and make it their own photo, unless they already have a photo and are just adding Facebook authentication.

[2015-12-05 00:33] JoshSmith commented on #86
Started writing myself a comment on how to do this and then just started doing it. But I feel bad just deleting it. So I'm immortalizing it here.

You'll never be forgotten, comment.

Pouring out a :beer: for you.

[2015-12-05 00:45] JoshSmith opened #88 "Add sequencing to nested route for projects"
You should be able to hit with a `Post` of `id: 123` and `number: 5` for `Project 1` the route `/projects/1/posts/5` and have it retrieve the correct post.

[2015-12-05 00:54] JoshSmith opened #89 "Create slugs for projects with routes"
We should have a `slug` for projects and be able to route to them.

A `User`-owned project will have a route like `/username/project-name` and an `Organization`-owned project will have a route like `/slug/project-name`.

The `SlugConstraint` is likely going to need to be updated to reflect this, possibly splitting the `request.path_parameters` into chunks.

We need to determine if there's a better

[2015-12-08 17:40] JoshSmith opened #95 "Write PostPolicy"
Specifically at least the `create`.

[2015-12-08 17:41] JoshSmith opened #96 "Add PATCH /posts/:id"
This does not exist.

[2015-12-08 17:42] JoshSmith opened #97 "Add route for owner's projects"
Something like `GET /:slug/projects`

[2015-12-08 19:45] JoshSmith opened #100 "Add comment user mentions"
We need to do the same as in #73 but for comments.

[2015-12-08 22:34] JoshSmith commented on #99
This is blocked by #100.

[2015-12-08 23:36] scarfdestroyer commented on #95
Potentially satisfied with pull https://github.com/code-corps/code-corps-api/pull/103

[2015-12-09 04:55] JoshSmith opened #104 "Refactor out sequenced"
We want to have the same `number` sequence for posts that currently exists, but only set it once it's `published`. This is blocked by #98.

See [this gem](https://github.com/djreimer/sequenced) for how they do it, and we can replicate from there.

[2015-12-09 06:46] JoshSmith commented on #104
Actually, it looks like this can be done using a `skip` lambda and checking for the state in there.

[2015-12-09 07:50] begedin opened #106 "Serialize posts_controller#index response with a custom serializer which does not contain unnecessary includes"
Not actually sure if we should go with a custom serializer, or just use the same one, but not include the usual includes. We should probably research what the convention is.

The way I see it, with a has_many relationship, we would need big database fetches, which isn't great, so  our serializer probably shouldn't have any `has_many` relationships. `belongs_to` should be fine, since the id for tha

[2015-12-09 14:40] begedin commented on #13
@JoshSmith  I believe this was handled by #70.  We now have a `POST /contributors` route, which enables joining a project.

However, I believe we should change this route so it's nested under the project - `POST /:member_slug/:projet_slug/contributors` to maintain consistency. I'm creating a new issue to address this and closing this one - #107

[2015-12-09 15:45] JoshSmith commented on #106
I think the counter caches are immune from needing the `includes`, am I wrong? Otherwise agree with what you said.

[2015-12-09 15:45] #100 closed

[2015-12-09 17:32] JoshSmith commented on #89
This was closed by #90

[2015-12-09 17:33] #89 closed

[2015-12-09 17:33] JoshSmith commented on #88
Closed by #87

[2015-12-09 17:33] #88 closed

[2015-12-09 18:19] #96 closed

[2015-12-09 18:19] #95 closed

[2015-12-09 18:21] #104 closed

[2015-12-09 18:24] JoshSmith commented on #50
This was done for posts in #103 but we need to do it for comments. Creating a separate issue though.

[2015-12-09 18:24] #50 closed

[2015-12-09 18:24] JoshSmith opened #112 "Add CommentPolicy"
We need a policy for comments.

[2015-12-09 18:30] JoshSmith commented on #82
Closed by #92

[2015-12-09 18:30] #82 closed

[2015-12-09 18:30] JoshSmith commented on #54
Closed by #73 and #100

[2015-12-09 18:30] #54 closed

[2015-12-09 18:44] JoshSmith commented on #74
![eso1324c](https://cloud.githubusercontent.com/assets/321667/11695000/d6bb32fe-9e61-11e5-9276-37e3ce730f49.jpg)

[2015-12-09 18:49] JoshSmith commented on #74
![pia14040](https://cloud.githubusercontent.com/assets/321667/11695115/55301640-9e62-11e5-98b4-4d11a2ba9e92.jpg)

As you can see, we can upload a file and it doesn't do any file size changes, so we probably shouldn't.

[2015-12-09 18:50] JoshSmith commented on #74
We should add an attachment validator: `validates_with AttachmentSizeValidator, attributes: :photo, less_than: 10.megabytes`

[2015-12-10 08:00] begedin commented on #94
@JoshSmith I wrote a proposal in the associated PR #114, but here it is, copied in full
---
## Two general cases

### User is project owner

* The owner needs to be the current user.

### Team is project owner

* The current user needs to belong to the team and be able to define projects for that team. This should depend on their role in the team, so `user.team_memberships.find_by!(team).role`. Th

[2015-12-10 14:05] begedin commented on #20
@JoshSmith Sorry, I didn't realize your [comment](https://github.com/code-corps/code-corps-api/issues/20#issuecomment-161536686). In any case, @scarfdestroyer did most of the work by adding the counter cache feature. I did the rest in #108, by adding the field to the `ProjectSerializer` and `ProjectSerializerWithoutIncludes`, so this can be closed.

[2015-12-10 19:20] JoshSmith commented on #116
This was added in #111

[2015-12-11 00:33] scarfdestroyer commented on #83
Pending review on pull https://github.com/code-corps/code-corps-api/pull/118

[2015-12-11 08:19] begedin opened #119 "Add roles to team and organization memberships"
This would be a good place to discuss those roles before we start a PR.

What should they be for organizations and teams?

Here's my initial draft (higher role can do lower role actions)

* Organizations
  * Owner - CRUD organization, CRUD organization memberships for everyone
  * Admin - can CRUD teams, CRUD team memberships, CRUD organization memberships for members
  * Member - basic level, not

[2015-12-11 13:11] begedin opened #125 "`InitializeNewFacebookUserWorker` calls `UpdateUsersLeaderboardsWorker`, which does not exist."
This is happening in `users_controller#create`, when registering a user through Facebook. Since the worker doesn't do anything else, I think it's best to remove it altogether.

[2015-12-11 13:12] begedin opened #126 "Move "spec/support/helpers/error_format_helpers" to "spec/support/matchers/error_format_matchers""
Since we started using these, we've added additional matchers, so it makes sense for all of them to be in the same place.

[2015-12-11 14:07] begedin commented on #72
Trying to wrap my head around this, so making some notes. The approach would be similar as with Facebook.

My assumption is that we want the usual flow, where the user authorizes the app on github and then they get taken back to the register screen, where their info is is filled in and can be edited.

https://developer.github.com/v3/oauth/

## Ember app

* User decided to register through github.

[2015-12-11 16:06] JoshSmith commented on #125
I won't be removing the worker, but adding a worker in there since there with #85

[2015-12-11 16:10] JoshSmith commented on #125
Nevermind, will remove it.

[2015-12-11 16:22] #125 closed

[2015-12-11 16:27] #126 closed

[2015-12-12 00:08] scarfdestroyer commented on #80
Potentially satisfied by pull https://github.com/code-corps/code-corps-api/pull/130

[2015-12-12 01:12] #112 closed

[2015-12-12 01:16] #53 closed

[2015-12-12 01:16] #97 closed

[2015-12-14 10:31] begedin opened #136 "Add "source/pointer" properties to serialization result of validation errors"
https://github.com/code-corps/code-corps-ember/pull/26#issuecomment-164402633

Basically, ember-data expects a validation error to have a `source/pointer` property indicating which field has the error.

[2015-12-14 15:53] begedin commented on #107
Considering the rest of our app, I'm not sure this should be done anymore.

For any other record we use nested routes for, the `POST` and `PATCH` actions are not nested.

However, perhaps the `GET` and `GET /:id` actions should be nested?

[2015-12-14 16:28] JoshSmith commented on #136
:

[2015-12-14 17:30] #74 closed

[2015-12-14 17:31] #136 closed

[2015-12-14 17:32] JoshSmith commented on #131
Closed by #74

[2015-12-18 11:14] begedin commented on #109
I looked into this a bit. We could speed things up, even signficantly, but at the cost of test readability.

Right now, the API specs are the slowest and this is meanly do tu fragmenting large test we used to do into parts such as

* An API request
  * does something with a record
  * responds with some status code
  * responds with json in a certain format
  * creates some side-effect
  * etc.

I

[2015-12-18 12:28] begedin commented on #109
As a further way to slightly improve readability (and the ability to debug) large tests, we can make use of the `aggregate_failures` option `RSpec` provides.

[code]

The example test written with this option will output the result of each `expect` that fails, not just the first one.

[2015-12-27 18:14] JoshSmith opened #144 "Create team projects"
There should be a `TeamProject ` model and `Team` should `has_many :team_projects` and `has_many projects, through: :team_projects`.

A `TeamProject` should additionally have an `enum` of role permissions similar to `OrganizationMembership`.

[2015-12-27 18:18] JoshSmith commented on #119
I think the following should be the case:

### Organizations
- Owner
  - CRUD organization
  - CRUD organization memberships
- Admin
  - CRUD teams
  - CRUD team memberships
  - CRUD organization memberships for members
- Member
  - CRUD on all projects within organization

### Teams
 - Admin / Member permissions on specific projects

[2015-12-27 18:20] JoshSmith commented on #119
Team permissioning needs #144

[2015-12-30 17:45] JoshSmith opened #146 "Find permissions for a user and project through teams"
Let's proceed by example.

Code Corps has API team and Ember team. The API team has access to `code-corps-api` and the Ember team has access to `code-corps-ember`. Josh is on the API team. We need to check Josh's access to the `code-corps-ember` project.

In order to do this for any user, we must first get a user’s team memberships. From those teams, we can access their `TeamProject`'s, which will

[2015-12-30 17:50] #144 closed

[2015-12-31 16:19] JoshSmith commented on #146
From a quick code spike we should be able to do something like the following:

[code]

Seems hacky, but it works in theory.

[2015-12-31 16:39] JoshSmith commented on #146
We would then have this:

[code]

Which would let us do:

[code]

This has the downside of assuming our role values are always discretely ordered, but in this case that assumption holds better than assuming we should assign integer values to our `enum` and have to deal with intermediate migrations later on.

Instead, the logic for `find_most_permissive_team_project_for_user(user)` (or something li

[2015-12-31 17:00] estiens commented on #146
What is the theory behind doing this all DIY rather than using something like CanCanCan to manage all permissions? In general, I don't like having to have ordered anything, at the very least it should be a hash of roles mapped to numbers I think

[2015-12-31 17:01] JoshSmith commented on #146
@estiens we're using [`Pundit`](https://github.com/elabs/pundit) but the policies are relatively complex. Looking for user-level permissions, project-level permissions, organization-level permissions, and team-granting permissions.

[2015-12-31 17:04] JoshSmith commented on #146
So you're thinking of something like:

[code]

[2015-12-31 17:33] estiens commented on #146
Yes, exactly, anything to make that ordering explicit rather than implicit.

[2016-01-01 17:36] JoshSmith opened #149 "seed_fu doesn't work on first run"
See https://gist.github.com/justinabrahms/caf213aa2789662f1aca for error output.

[2016-01-01 17:38] JoshSmith opened #150 "Find a good way to share ENV for new developers"
There are some ENV specific tests that will cause failures.

See output: https://gist.github.com/justinabrahms/f3884a5523ab5ba015ad

[2016-01-01 17:40] JoshSmith commented on #150
This will probably at least partially involve handing out AWS credentials, or writing tests so that they don't require them.

[2016-01-01 17:44] JoshSmith opened #152 "Improve onboarding for new developers"
A collection of tasks we need to get done:

- [ ] #150
- [x] #151
- [x] #149 (awaiting review)
- [x] Add note about testing `http://api.lvh.me:3000/ping` to the README to see that the API works as intended
- [x] Add documentation around `INDEX NOT FOUND` to make clear it's expected behavior, and how it works with `ember deploy`

[2016-01-11 12:57] begedin opened #161 "Add mime type config initializer for json api"
ember-data is pretty much the only API accessiing library I've used up to this point which actually sends post and patch requests with the content type header set to the proper `'application/vnd.api+json'` value.

AMS, however, ignores such a content type by default, so we need to add support for it via an initializer.

[2016-01-12 07:30] #161 closed

[2016-01-12 18:04] scarfdestroyer commented on #146
We need a way to be able to add and change the level that people are at (admin or regular) on team projects do this mean we will need
	- Policy for Team Projects
	- Spec for the policy
	- Controller to accept CRUD actions for the team projects

What does admin and regular mean? Is it something the organization defines?

Basically the above keeps me from figuring out:
	- What actions need to first

[2016-01-12 18:06] JoshSmith commented on #146
`admin` and `regular` are permission levels for a given project. You're either a regular user with normal permissions, or an `admin` user with special permissions. It's pretty binary right now. It's not defined by the organization, but our own definition of what those permissions look like. I think there's a pretty extensive discussion of that elsewhere.

[2016-01-12 18:07] JoshSmith commented on #146
There will need to be a controller for CRUD for team projects.

[2016-01-12 18:08] scarfdestroyer commented on #146
So if a user is a contributor their permissions can be raised to an admin status but just on a certain project?

[2016-01-12 18:08] JoshSmith commented on #146
A policy for `TeamProject` would involve checking for admin permissions for that project or for the organization.

[2016-01-12 18:10] JoshSmith commented on #146
Yes, exactly. This is granular permission granting.

Imagine a scenario where we want to give someone on the API admin abilities on the API project, but nowhere else. We'd add them to a special "API core team" team that grants those admin abilities on that project, and maybe just "regular" abilities on every other project.

[2016-01-12 18:15] scarfdestroyer commented on #146
Okay then, I guess the last unknown is really just where the logic should live. Seems like it has the potential to need to be used in different places so i'm not sure its the best idea to bloat other models with the same code.

[2016-01-12 18:23] JoshSmith commented on #146
Write it in one place first and then extract it. Don't try to refactor from square one. Get it to work in one place and you'll see how you like the API. Then you can adapt it from there.

[2016-01-12 20:35] JoshSmith opened #163 "Remove includes on MembersController"
You cannot load users from `MembersController#show` because of this line: `member = Member.includes(model: :members).find_by_slug!(member_slug)`

There are no `members` for a `User`.

Our API specs are not catching this error somehow, either. Specs need updated first.

[2016-01-14 15:21] begedin opened #164 "Add `modelType` and `ownerType` properties to `MemberSerializer` and `ProjectSerializer` respectively"
If there are other serializers used for the same models, they should likely have those to, provided they serialize the `member` and `owner` relationships.

[2016-01-14 19:09] JoshSmith opened #165 "Add validation for post type"
There's no validation currently.

[2016-01-15 22:51] JoshSmith opened #167 "Change OrganizationMembership to OrganizationAdmin"
We need to change the `OrganizationMembership` model to `OrganizationAdmin` and remove the roles. Associated logic obviously needs to change, as well.

[2016-01-15 23:28] JoshSmith opened #168 "Rename Member to SluggedRoute"
We need to clarify the naming convention around `Member` and change it to a `SluggedRoute`.

Reasoning is that this relationship between a `Member` and a `User` or `Organization` exists specifically for giving them unique slugs for routing purposes. It has no broader meaning.

The closest other concept for this would be a `ProjectOwner`, but a `User` or `Organization` may never own a project, and

[2016-01-16 01:16] #168 closed

[2016-01-16 08:30] JoshSmith commented on #167
Closing in favor of #175.

[2016-01-16 08:30] #167 closed

[2016-01-16 08:30] JoshSmith commented on #163
Closing because #175.

[2016-01-16 08:30] #163 closed

[2016-01-16 08:30] JoshSmith commented on #107
Closing because of #175.

[2016-01-16 08:31] JoshSmith commented on #119
Closing due to #175.

[2016-01-16 08:31] #119 closed

[2016-01-16 08:31] JoshSmith commented on #166
Closing due to #175.

[2016-01-16 08:31] JoshSmith commented on #146
Closing due to #175.

[2016-01-16 08:31] #146 closed

[2016-01-16 08:32] JoshSmith commented on #120
Closing due to #175.

[2016-01-16 20:29] begedin commented on #175
I'm all for simplifying this.

Just to make sure I understand.

User's will have to belong to an organization to create and have access to projects in that organization. I'm not completely clear on whether there are any roles within an OrganizationMembership, but my guess is, contributors can access projects, while some higher role can also create them?

Just to make sure I understand this

A user

[2016-01-16 20:40] scarfdestroyer commented on #175
We are all driving somewhere right now but, what you said was pretty much all correct and Josh says he only wants to add more granular permissioning if users demand it.

[2016-01-17 00:19] JoshSmith opened #177 "Investigate way to make bullet not see N+1 query in post policy"
For some reason, in `PostPolicy`, doing `post.project.organization` registers an N+1 query. We should find out if this is actually an N+1 query, and if not, how to make Bullet not register it as one.

For now, we have been using `around_action` with a `skip_bullet` in the controller. This is not ideal.

[2016-01-18 00:25] JoshSmith commented on #177
This is now also a problem in GithubRepositories API spec. I'm going to apply the same strategy to `PostPolicy` and not have the `around_action`.

[2016-01-18 00:26] JoshSmith commented on #177
That strategy specifically is:

[code]

[2016-01-18 08:31] begedin commented on #175
All of the subtasks here seem to be done, but regarding opening idea posts to everyone, I did so for all registered users, regardless of level or membership, but not unregistered users, since we do not allow that anywhere. I'm guessing that's ok?

[2016-01-18 09:21] begedin commented on #170
I completely agree with this, since I had those annoying moments where I had to go look into the schema to remind myself what the fields are. I also think annotations could go to all the default files (models, serializers, factories, controllers), cine it's just a matter of running a single command to get them there.

[2016-01-18 10:15] begedin commented on #165
`post_type` is an enum, meaning when the attribute is set, it expects us to pass it a symbol `[:task, :idea, :progress, :issue]`, but when read directly, it responds with one of `%w(task idea progress issue)`.

Due to this behavior, we cannot use the following shoulda matchers: `validates_inclusion_of`, `allow_value`, `allow_values`, `not_allow_value`.

Also, by default the enum already behaves in

[2016-01-18 10:34] begedin commented on #152
Regarding removing hound integration, that's just a single click from the repository settings page, but do we really wan't it gone completely.

PR #178 adds a `.hound.yml` file, which points to our own, custom `.rubocop.yml`, which, when properly set up, should allow us to avoid too much hound spam, while still forcing the developer to follow style guidelines.

Also, if an outside contributor fork

[2016-01-18 14:13] begedin commented on #177
I fixed both issues as part of #176.

The commits in question are:
* https://github.com/code-corps/code-corps-api/commit/240d6d6365c95c0b18bdebca6cc0fc79b5ca9aab
* https://github.com/code-corps/code-corps-api/commit/e03383b3f876a9f62dbf6fb5c7f07ed4e8ec1d2d

[2016-01-18 16:16] JoshSmith commented on #177
:+1:

[2016-01-18 16:33] #149 closed

[2016-01-18 16:45] #165 closed

[2016-01-18 16:47] JoshSmith commented on #175
That's perfect.

[2016-01-18 22:18] JoshSmith commented on #171
Closed by #185

[2016-01-18 22:19] JoshSmith commented on #177
Closed by #176

[2016-01-18 22:19] #177 closed

[2016-01-18 23:01] JoshSmith commented on #152
Agreed on Hound. Let's keep it.

[2016-01-18 23:13] JoshSmith opened #186 "Add comments count"
We need to counter cache the columns.

[2016-01-19 07:59] begedin opened #187 "Allow user to edit their photo"
Currently, the API only supports `base64_photo_data` when creating a new user. It should be allowed when updating an existing user as well.

[2016-01-19 16:59] JoshSmith commented on #164
Should this be closed?

[2016-01-19 17:00] JoshSmith commented on #17
Does this need to be closed?

[2016-01-19 21:19] begedin commented on #17
I believe so. Currently, we're fetching posts explicitly, after loading the project. As we discussed, we're avoiding having includes with the project. Relationships are fine, but includes are an issue.

[2016-01-19 21:19] begedin commented on #164
Yeah, definitely. This is obsolete with the relationship changes. I can outright close it myself.

[2016-01-19 21:19] #164 closed

[2016-01-19 22:21] scarfdestroyer commented on #187
Satisfied by #192

[2016-01-19 22:21] #187 closed

[2016-01-19 23:09] #106 closed

[2016-01-19 23:24] scarfdestroyer commented on #186
#194

[2016-01-19 23:44] scarfdestroyer commented on #186
Closed by #194

[2016-01-19 23:44] #186 closed

[2016-01-22 12:25] begedin opened #196 "API should only show published posts on post#index"

[2016-01-22 15:52] begedin commented on #196
Will be closed by commit c4e448d28cf5e79900174d06a57f21ca7a757e86

[2016-01-28 10:15] #196 closed

[2016-02-02 17:53] begedin commented on #197
Looking at the code at both sides,

1. Ember thinks the route for fetching a specific post from the API should be
[code]
2. The API thinks the route is
[code]

This could be handled without modifying the API, though.

The way ember routing works is that the router goes through the nested route hierarchy in order, so it will hit the project route first and fetch the project, I'm pretty sure (though

[2016-02-03 22:29] JoshSmith opened #200 "Test comments controller properly"
For some reason we have an `authorize Comment` that's not being hit in the `index` of the comments controller. This needs fixed.

[2016-02-03 22:37] JoshSmith opened #201 "Sort posts by number descending"
We need to write a test for this, and then ensure that posts are sorted by `number` desc.

[2016-02-03 23:59] JoshSmith commented on #197
Ember changes allow this to work without issue.

[2016-02-04 00:22] #200 closed

[2016-02-04 01:19] #201 closed

[2016-02-04 08:19] JoshSmith opened #206 "Add donations engine with Stripe"
This is a placeholder for some exploration into this milestone:

- Set up Stripe and look into existing work we've done that can be pulled in here
- Look into one-off donations and recurring donations
- Think about how to do project distribution and fees or tips
- Consider how to handle edge case of code corps projects that _may_ not have fees/tips

[2016-02-04 22:12] JoshSmith opened #207 "Add organization icons"
We need organizations to have avatars the same way that projects and users do.

[2016-02-07 22:28] JoshSmith commented on #206
Some stray observations. I believe we could structure something like this:

- `Donation` could be one-time or recurring. We'll have only monthly to start but we could ostensibly plan for monthly or annual.
- There would be a `Charge` object that's paired 1:1 with a Stripe charge.
- We could show a rather naive loading bar like ActBlue's that changes as contribution amounts increase in steps. The l

[2016-02-07 23:26] JoshSmith opened #209 "Rewrite Paperclip data URI processing"
We need to attempt something like:

[code]

We need to test it with fixtures that have the `data` URI and fixtures without it. I believe iOS clients may send a base64 string that does not include the URI.

[2016-02-08 01:16] JoshSmith opened #212 "Fix specs for comment and post images"
It looks like these are not testing what we expect to be testing, as I don't see `decode_image_data` in these to be called anywhere.

When fixing this bug, we should write new tests that make use of `Base64ImageDecoder` added in #210.

[2016-02-08 01:24] ptrikutam opened #213 "Error during db:seed_fu script"
Looks like the `posts.rb` fixture is executed before the `users.rb` fixture populated, causing the error below.

[code]

[2016-02-08 01:35] JoshSmith commented on #213
Ah, I closed #198 which had a fix for this incorporated, but didn't make it in for unrelated reasons.

My fix is to have the following name changes:

- db/fixtures/users.rb → db/fixtures/001_users.rb
- db/fixtures/organizations.rb → db/fixtures/002_organizations.rb
- db/fixtures/projects.rb → db/fixtures/003_projects.rb
- db/fixtures/posts.rb → db/fixtures/004_posts.rb

There's a further bug in `p

[2016-02-08 01:36] JoshSmith commented on #213
I'd be happy to take a PR for this, if you're interested. Would be a very quick one.

[2016-02-08 01:52] ptrikutam opened #215 "Add a CONTRIBUTING.md"
Basic instructions on how to contribute & determine what to work on would be great. This can include:

- Issue management
- Submitting PRs (labels / etc)
- Preferred git workflows?

Some guides that thoughtbot provides: https://github.com/thoughtbot/guides. These might be a good place to start.

[2016-02-08 02:17] #209 closed

[2016-02-08 02:18] JoshSmith commented on #215
Much needed.

[2016-02-08 02:19] ptrikutam commented on #215
A quick win would be to point to Thoughtbot's great guides. I notice we're using a `develop` branch here but for the early stages of this we could potentially use the thoughtbout / [github flow](https://guides.github.com/introduction/flow/).

[2016-02-08 02:25] ptrikutam commented on #213
Fixed in #214.

[2016-02-08 02:25] #213 closed

[2016-02-09 15:16] begedin commented on #199
I looked into this a bit, and we definitely have a discrepancy between the client and the API to begin with.

Currently, even with adding the `markdown_preview` and `body_preview` fields, I don't think we would be doing it properly here.

Here's what the flow would be:

### A new post is being created

* User starts writing. They wan't a preview.
* Every time we switch to the preview tab...
  * PO

[2016-02-10 18:27] hbrysiewicz commented on #155
Ran into this issue when setting up api/ember today, as well. +1

[2016-02-10 18:29] hbrysiewicz opened #220 "Add seed data"

[2016-02-10 18:31] #220 closed

[2016-02-10 18:35] JoshSmith commented on #155
There should also be documentation on how to get this set up.

Of particular concern are credentials. We need to balance sandboxing off development contributions while ensuring least amount of headaches in setup.

[2016-02-11 21:57] scarfdestroyer commented on #207
Satisfied by #208

[2016-02-12 17:11] gcollazo commented on #221
@JoshSmith the score displayed on emberaddons.com is from emberobserver.com you should talk with @kategengler who is doing an amazing job at curating and evaluating each individual addon on the site.

[2016-02-12 17:12] JoshSmith commented on #221
Awesome, thanks @gcollazo! :+1:

[2016-02-12 20:16] scarfdestroyer opened #223 "PUT/PATCH for Organizations"
Currently, the `Organizations` controller has `create` and `show` actions. This needs to be expanded so we can `Update` them as well. The needed additions will be in:

- Organization controller
- Organization policy
- Organization policy spec
- Organization request api
- Organization request api spec

[2016-02-12 20:25] scarfdestroyer commented on #218
Would you consider more Regex to be the wrong way to go here? It seems like it would be too brittle of code unless we are committing for a while at least to assume all of our base64 data is going to have the image data headers embedded in the beginning. If not I think I have something worked out that would be useful.

[2016-02-12 20:48] JoshSmith commented on #223
Really great job writing out what you think is needed here.

Remember that ordering of what you work on is important here. Start at the spec level for the API (the most outward facing part of the change you're making). Then work your way down. Getting in the habit of red, then green, then refactor is really critical. It won't be second nature yet, but try to consciously do it in this case.

I woul

[2016-02-12 21:35] scarfdestroyer opened #224 "Add Description to Organization"
Currently, `projects` have descriptions but `organizations` don't. This needs to be added so users can get an idea of what organizations are about as a whole and not just by their current projects. This should be able to be accomplished by creating a migration to add `description` with type `string` to organizations.

[2016-02-12 22:33] scarfdestroyer opened #225 "Potentially change wording of errors"
In the `error_serializer` it catches errors and adds them to the model under the `.errors` designation. Doorkeeper has an error with `id` `NOT_AUTHORIZED` and Pundit has an error with `id` `ACCESS_DENIED`.

The problem with the latter is that the description includes the wording "You are **not authorized** to perform this action". This can be pretty confusing when you are getting an error back tha

[2016-02-12 23:55] kategengler commented on #221
Hi @JoshSmith. What are you looking to do here?

The current score on EmberObserver is comprised of:

1 point is given for every 'Yes' answer in the review. (Five questions: Is it OSS?, Is it non-empty?, Are there meaningful tests?, Are there any docs?, Is there a CI build?)
1 point is given for a recent release (within last 3 months).
1 point is given for more than 1 commit within the last 3 mont

[2016-02-13 00:02] JoshSmith commented on #221
Wow, thanks @kategengler! This is super useful, and I didn't realize that there was a manual review part of this process. That's a really awesome service you're doing for the community.

I think the breakdown of usefulness, activity, viability, popularity, and interest are the really important takeaways here. I have to admit I was a little myopic to just activity and viability here, so this has op

[2016-02-15 20:36] scarfdestroyer opened #236 "Index for Organizations"
We need an `index` action so we can send the ember side a list of current `organizations`. The query from the database, policy, and policy spec should should mirror that of `projects`

[2016-02-15 22:13] scarfdestroyer commented on #223
Satisfied by #237

[2016-02-16 19:56] JoshSmith commented on #207
Closed by #208.

[2016-02-16 19:56] #207 closed

[2016-02-17 19:28] scarfdestroyer commented on #223
Closed by #237

[2016-02-17 19:28] #223 closed

[2016-02-17 21:11] #215 closed

[2016-02-18 16:56] begedin opened #241 "Revisit the problem of reserved routes. See if there are any potential reserved routes we are missing."

[2016-02-24 08:26] JoshSmith opened #247 "Make slugs case-insensitive"
Right now there's a distinction between `joshsmith` and `JOSHSMITH`, which means someone could ostensibly claim both URLs.

We need to fix this case sensitivity in a way that ensures `JOSHSMITH` resolves to the same URL.

[2016-02-24 14:37] begedin commented on #246
I'm thinking really hard about this, and I don't see a nice clean way to do it.

## Problems on API side

* When requesting a preview, the mentions for that post's/comment's previous `bodyPreview` field should get destroyed and new mentions should get created
* When requesting a proper save, the mentions for the `body` field should get destroyed and recreated.

This part is easily achievable by ad

[2016-02-24 20:46] JoshSmith commented on #224
Closed by #240

[2016-02-24 20:46] #224 closed

[2016-02-25 16:56] JoshSmith commented on #246
Can you explain a bit more why the ember side fetching manually solves the problems? Why won't the records created in ember and still in the store stick around?

Also, I'm pretty sure GitHub hits the server on preview, no?

`https://github.com/preview?markdown_unsupported=false&repository=37823327&subject=246&subject_type=Issue`

[2016-02-25 17:53] begedin commented on #246
If we fetch it manually, we only work with the results of that fetch. We don't really care about what's in the store.

If we go about it further, I'm not even sure mentions should be on the same level as other records, client-side. They don't really exist outside the contest of a post/comment and they get destroyed and recreated any time a post/comment goes through a change.

A record in ember is

[2016-02-25 18:02] JoshSmith commented on #246
Got it. Makes sense.

[2016-02-25 18:43] scarfdestroyer commented on #247
Do we want to keep the original formatting with the capitalization when we display it later?

[2016-02-26 08:23] JoshSmith commented on #199
@begedin Is this closed because of work we've done so far? Or at least irrelevant given the status of things now?

[2016-02-26 09:43] begedin commented on #199
This was supposed to be closed with #219

There's a bug #246, which is being resolved with #252 , but this one should not depend on it.

[2016-02-26 16:44] JoshSmith commented on #152
Closing in favor of more specific tasks to accomplish this.

[2016-02-26 16:44] #152 closed

[2016-02-27 07:03] JoshSmith commented on #246
Is this closed now by #199? Do we have remaining issues that would be better served broken out?

[2016-02-27 07:04] JoshSmith commented on #241
We should do this or close it.

[2016-02-27 21:28] JoshSmith commented on #257
Doing it show/index of the comment itself?

[2016-02-27 21:29] #247 closed

[2016-02-27 21:30] JoshSmith commented on #257
Why won't a new request for preview use the existing content?

[2016-02-27 21:32] JoshSmith commented on #257
Isn't there a case to be made that `cancel` would reset it, but anything else does not reset it?

[2016-02-27 21:34] JoshSmith commented on #257
For what it's worth, it appears that this is exactly what GitHub does. Not sure if the preview expires after some set amount of time.

[2016-02-29 07:46] begedin commented on #246
This specific bug is definitely closed. With the merge of #199, only mentions that match the "type" (`:preview` or `:published`) are being destroyed.

[2016-03-14 16:56] begedin commented on #256
This applies to comments and posts. If `markdown_preview` or `markdown` is nil, the process of generating mentions fails.

[2016-05-05 23:41] JoshSmith commented on #257
@begedin bump.

[2016-05-14 05:25] JoshSmith commented on #260
Still no update there.

[2016-05-14 05:26] JoshSmith commented on #257
@begedin just wanted to readdress this.

[2016-05-16 06:58] begedin commented on #257
Sorry, keep missing this notification. I also noticed this is what github does, but, as you, I'm not sure about expiration.

I think there should be an expiration, though. Otherwise, we have situations where the user wants to edit a big post, but they cant, because their edit view is showing them something completely different they may have typed in by accident a while ago. If the original post th

[2016-05-16 07:05] JoshSmith commented on #257
I guess we can test what GitHub does. That's not a bad idea. Keep going back and seeing, including closing the browser. Then we'll know for sure how they handle it.

[2016-05-17 09:04] begedin commented on #147
First things that comes to mind is `OrganizationMembership` where we should only be able to update the role field, not the member or organization association.

[2016-05-17 23:19] JoshSmith opened #267 "Add Category model and associated models"
An `InterestCategory` is something like "Politics" or "Technology." It's not just an interest because it's also a category for projects. This is the best naming convention I could think of it.

We also need `UserInterestCategory` and `ProjectInterestCategory`.models, both of which `belongs_to` each of those.

[2016-05-19 00:21] JoshSmith opened #269 "Find a better way to handle edge cases with serializers that don't need associations"
See, for example, `RoleSerializer` and `RoleSerializerWithoutIncludes`, the latter which is used to avoid unnecessary N+1 calls when simply serializing from `RoleSkill`.

If it had serialized all its associations, then we would get a `RoleSkill`'s `Role`'s `skills`, along with the `RoleSkill`'s `Skill`'s `roles`. Completely unnecessary.

[2016-05-19 00:22] JoshSmith commented on #269
Ideally we would be able to do this somehow in `ActiveModel::Serializers` without having to create and maintain two separate serializers for the two separate use cases.

[2016-05-19 00:34] JoshSmith opened #270 "Add ProjectRole model"
We need to add a `ProjectRole` model and associated behavior.

[2016-05-19 00:34] JoshSmith opened #271 "Add ProjectSkill model"
We need to add a `ProjectSkill` model and associated behavior.

[2016-05-19 06:08] JoshSmith commented on #267
I think actually we want to call this `Category` and have a `ProjectCategory` and a `UserInterest` that `belongs_to :user` and `belongs_to :category` so that a `User` can `has_many :interests, through: :user_interests`, where the "interest" is a `Category`.

[2016-05-19 20:31] JoshSmith commented on #266
Closed by #268.

[2016-05-19 22:24] JoshSmith opened #274 "Add UserInterest model"
- [ ] Add `UserInterest` model and specs
- [ ] Add `UserInterestPolicy` and spec
- [ ] Add `UserInterestSerializer` and probably one without includes, too
- [ ] Add user interests API

[2016-05-20 04:43] christopherstyles opened #276 "Add missing foreign key constraints to maintain data integrity"
Currently there are some places where cascading foreign key constraints would be helpful for maintaining referential data integrity. Generally speaking, we can look at a model’s associations to determine if a foreign key constraint is needed.

For example, a post `has_many` likes, but after the post is removed its likes should be removed as well.

In some cases we may want to “nullify” an associat

[2016-05-20 04:52] JoshSmith commented on #276
I am generally against deleting data altogether, so I think in almost call cases we would want to nullify the data, except in those instances where the table is a simple join (like `ProjectCategory, for example).

[2016-05-20 21:06] #267 closed

[2016-05-21 01:16] JoshSmith commented on #265
Simply removing the project description or categories, etc should not be enough to make the project lose visibility. We also probably want a state machine where the project can go from `created` as its default to `published` when everything is added. It cannot go to `published` unless all those requirements are fulfilled.

[2016-05-21 03:37] JoshSmith commented on #265
This does not need to be in the first version.

[2016-05-21 03:39] JoshSmith commented on #243
I'm going to simplify this and say the email display to the public should not be a configurable option right now. Let's just keep it private by default and only expose to an authenticated user.

[2016-05-22 00:33] JoshSmith commented on #282
When this fails, you get a 404 that a route is not found.

[2016-05-22 22:06] JoshSmith commented on #282
This should be fixed in #283 which adds `DELETE` as a method to `:have_proper_preflight_options_response_headers`.

But there is NOT a test for testing `OPTIONS` with it. Not sure if it's explicitly needed since this should fix it. Want to know your thoughts @begedin.

[2016-05-23 07:02] begedin commented on #282
I think testing that specific types of requests actually pass is within the scope of the middleware itself. On our side, it should be enough to just ensure the middleware is configured correctly.

Then again, I'm not entirely against the idea of having a single spec file where we ensure all our routes work.

[2016-05-23 07:08] JoshSmith commented on #282
I think the delete is sufficient enough to catch it.

[2016-05-24 15:04] #274 closed

[2016-05-24 15:41] #270 closed

[2016-05-24 15:55] JoshSmith commented on #284
I think this should be done in all places where we're doing `if model.valid?` at least. I don't think it applies elsewhere so much.

[2016-05-24 15:56] JoshSmith commented on #284
All the places this would need to be done so far (using `git grep .valid?`, in case this gets outdated):

[code]

[2016-05-24 16:09] #271 closed

[2016-06-08 08:10] JoshSmith opened #293 "Write controller for typeahead search using searchkick"
Should be able to knock this one out pretty quickly. All the moving pieces are already there.

[2016-06-14 02:12] JoshSmith opened #297 "Username and email availability are case sensitive"
Discovered when testing signup with "joshsmith" and my actual username is "JoshSmith". Gave me an invalid error using the slug validator rather than an availability error.

[2016-06-14 04:16] #297 closed

[2016-06-14 05:54] JoshSmith commented on #293
Closed by #296.

[2016-06-14 05:54] #293 closed

[2016-06-14 17:57] JoshSmith opened #299 "Add Sentry"
We don't have Sentry, either in staging or production.

[2016-06-14 17:58] JoshSmith opened #300 "Add New Relic"

[2016-06-14 17:58] JoshSmith opened #301 "Perform load testing"
We should use something like Blitz to perform some set of load testing on those parts of the application that are most request heavy, probably a project's page.

[2016-06-14 17:59] JoshSmith opened #302 "Add database backups to Heroku"

[2016-06-15 00:42] #299 closed

[2016-06-16 04:00] JoshSmith commented on #109
Some of this will probably be addressed by @cstyles' work on #184.

[2016-06-16 15:35] JoshSmith opened #311 "Remove progress post types"

[2016-06-16 15:35] JoshSmith opened #312 "Allow post types to be changed"

[2016-06-16 19:14] christopherstyles commented on #302
I’ve scheduled a daily backup for midnight (PST):

[code]

Since we’re currently on the `Hobby-dev` plan, backups will only be retained for 1 week.

For more info on scheduled postgres backups, see this Heroku devcenter [article](https://devcenter.heroku.com/articles/heroku-postgres-backups).

[2016-06-16 21:33] JoshSmith commented on #302
@christopherstyles did you need me to upgrade? Can't remember if I have to do it as account owner.

[2016-06-16 21:37] christopherstyles commented on #302
@JoshSmith Yeah, an account owner will have to upgrade, due to billing. Let me know if you do, and I can migrate the data.

[2016-06-16 21:44] JoshSmith commented on #302
@christopherstyles Would you mind sharing the first part of command so I can just paste it in? I can do the `-r` and all that.

[2016-06-16 21:59] christopherstyles commented on #302
You should be able to add an upgraded plan with:

[code]

[2016-06-16 22:01] JoshSmith commented on #302
Did it. "The database should be available in 3-5 minutes."

[2016-06-16 22:30] christopherstyles commented on #302
@JoshSmith Data has been migrated and the new database promoted to be primary :wink: The previous database now has an alias of `HEROKU_POSTGRESQL_RED_URL`, if we need to access it for any reason.

[2016-06-16 22:31] JoshSmith commented on #302
Okay, thanks. This good to close now?

[2016-06-16 22:31] christopherstyles commented on #302
Yep, gtg!

[2016-06-16 22:38] #302 closed

[2016-06-17 12:47] begedin opened #314 "Discussion: Simplify preview behavior on various records"
Test.

Right now, we have a pretty complicated set of behaviors for rendering markdown for previews, where we have separate _markdown, _markdown_preview, _html and _html_preview fields and then there's logic that determines what goes into which field depending on the API request parameters.

My suggestion is the following.

We eliminate this behavior completely. We just keep `_markdown` and `_html

[2016-06-17 12:58] begedin commented on #313
I'm currently working on this and, considering the usual preview behavior, gave some thoughts on how to simplify that, since we would need a total of 4 fields to mimic the current behavior.

I put them in #314 so I would like us to discuss that possibility before I continue here.

[2016-06-17 16:28] #311 closed

[2016-06-17 16:51] JoshSmith commented on #314
I think they must be misinformed about this. Type a comment in here. Hit preview. Hit write. Refresh the page. I'm not sure how this would just be local storage. Maybe it is. I'm not sure.

[2016-06-18 17:46] christopherstyles commented on #314
In the past I’ve used [marked](https://github.com/chjj/marked) to render previews on the client, saving a trip to the server. This would be an additional frontend dependency though, which I’m assuming you’re trying to avoid.

Is it necessary to store the rendered `_html` alongside the markdown `body` in the db? Would it be possible to keep only the `body` (in markdown), and render it to html as-ne

[2016-06-20 03:22] JoshSmith commented on #314
@christopherstyles one of the reasons we store it is because of the comment generation, which provides indices to the front-end.

[2016-06-20 03:55] JoshSmith opened #320 "Build an import pipeline for adding skills from CSV"
We need a way to parse a CSV of skills and upload them. This ideally should be idempotent and can be used as a way for developers to seed the app, as well as seed our own production database.

[2016-06-20 07:41] begedin commented on #314
@JoshSmith There are additional difficulties that just occurred to me with the current system.

**Drafts are shared between all users.** With comment drafts, that could be ok, if only the owning user can edit their own comments. With post drafts, however, this really can become a problem, with one user overwriting someone else's draft.

If we want to store them, maybe a different system alltogethe

[2016-06-20 09:00] begedin opened #321 "Allow post filtering by status"
Required for code-corps/code-corps-ember#214

The controller doesn't currently support this filter.

[2016-06-20 14:41] JoshSmith opened #323 "Add open and closed post count to projects"
We should have a counter cache for these.

[2016-06-20 14:56] JoshSmith commented on #314
Yes, I hadn't though through the case of multiple different people editing here like this. A good question is which edit wins. I guess the latest. But this is kind of unfortunate.

My guess is that editing happens so seldom at the same time that we don't need to worry too much about the deep details on it, but we should find some way to improve the UI at some point to make it clear that someone el

[2016-06-20 14:59] JoshSmith commented on #314
I also like this approach because it allows us to actually create a `PostDraft` at the time of someone going to `/posts/new`.

Question: why the suggestion of `PostBodyDraft`? Is this not really a draft of the `Post` and not its `body`?

[2016-06-20 15:19] begedin commented on #314
@JoshSmith

Thinking about it, it's not really just a post body (we also need the postType), but it's not a full post draft either (we don't need a title, that part is edited and saved separately). We could make it something that also stores the title, but I'm not sure that would be an UI improvement. If anything, I'd see it as more confusing to have the title stored as a draft.

[2016-06-20 15:38] venkatd commented on #314
From my understanding you guys have drafts for posts and comments. I think adding special conditions or types of models could add unnecessary complexity.

Another option would be to use query objects for posts and comments. So, you would have:
`PostsQuery` and `CommentsQuery`. They would take the appropriate inputs and internally filter out things you shouldn't see.

[2016-06-20 15:42] JoshSmith commented on #314
@begedin you're right, but it still feels more appropriate probably to call it a `PostDraft`.

[2016-06-20 18:03] JoshSmith commented on #300
We need to go into Heroku and add New Relic (probably "Wayne", although I can't remember). Someone who has access needs to do this: either myself, @begedin or @christopherstyles.

[2016-06-20 18:11] JoshSmith commented on #323
To clarify, a project should be able to return the number of open posts as well as the number of closed posts. These will be displayed a couple different places in the UI.

We need to ensure we have some sort of counter caching in place for this. I'd be fine with a gem or just writing the code for it ourselves, but it does need to be well-tested to ensure that the number is accurate.

[2016-06-20 18:12] JoshSmith commented on #323
On the Ember side, we will definitely need to consider the fact that the count may not update accurately when posts are opened or closed. We should keep this in mind.

[2016-06-20 18:14] JoshSmith commented on #320
We'll need to take in a list of skills and from that create the individual skills and the roles they belong to. We need to be sure that we don't create duplicates and don't modify skills that are already in the system. We might want to keep track of the original row from the importing, too, and try to keep the CSV consistent so that we avoid duplicates that way.

[2016-06-20 18:53] christopherstyles commented on #300
@JoshSmith I can definitely take care of this, you want to assign it to me?

[2016-06-20 18:54] JoshSmith commented on #300
Ugh I hate GitHub for this. I can't assign it to you without making you a contributor. It's yours, though!

[2016-06-21 06:27] #300 closed

[2016-06-21 18:50] #314 closed

[2016-06-22 06:40] JoshSmith commented on #323
Can probably just use https://github.com/magnusvk/counter_culture to knock this out quickly.

[2016-06-22 09:38] begedin opened #333 "Issues with elastic search on development"
I ran into several issues when creating a user and onboarding on the development, mainly involved with elastic search on skills.

* First of all, we don't have any skill fixtures, so I had to create a few manually. We need a task for that

* [x] Create task to create some skill fixtures for development at least - #334

* I ran `brew install elasticsearch` and that worked fine
* API wasn't working

[2016-06-22 10:00] begedin opened #334 "Post fixtures are not working due to _preview fields"

[2016-06-22 10:03] begedin opened #336 "When Project#long_description_markdown is blank, the field is saved, but _body is not updated"
`Project` does not have a `presence` validation for `long_description_body` or `long_description_markdown`, which makes sense, since descriptions aren't present initially.

However, due to a bad check in the `render_markdown_to_body` method, this means that when the `_markdown` field is an empty string, it will get saved as such, but the `_body` field will remain the same as it previously was.

[2016-06-22 16:08] #334 closed

[2016-06-22 18:13] #321 closed

[2016-06-22 18:29] JoshSmith commented on #333
We can do skill fixtures for now, but this should get resolved when we implement #320. We should have a way to bundle in the skills we actually use in production, and keep that synced up somehow.

I agree that this should be added to `Procfile.dev` at the least.

Not sure about where the `Skill.reindex` should happen.

[2016-06-23 01:27] kakoga opened #338 "Update GitHub Forked Repo"
1. Make sure that your origin is your own `$ git remote -v`
should return:
`origin	https://github.com/YourName/code-corps-api.git (fetch)
origin	https://github.com/YourName/code-corps-api.git (push)
upstream	https://github.com/code-corps/code-corps-api.git (fetch)
upstream	https://github.com/code-corps/code-corps-api.git (push)`

if your origin follows as:
`origin	https://github.com/YourName/code-

[2016-06-23 01:34] JoshSmith commented on #338
Thanks @kakoga. I realize now (after the fact, sorry!) that GitHub has some pretty decent docs on [configuring a fork to sync](https://help.github.com/articles/fork-a-repo/#step-3-configure-git-to-sync-your-fork-with-the-original-spoon-knife-repository) and [keeping your fork in sync](https://help.github.com/articles/syncing-a-fork/).

I wonder if you can't submit a PR to this and the other repo t

[2016-06-23 01:38] kakoga commented on #338
Yes, I'll add and PR

[2016-06-23 01:40] JoshSmith commented on #338
👍 going to close this in favor of that PR.

[2016-06-23 01:40] #338 closed

[2016-06-23 06:46] JoshSmith commented on #312
Closed by #326.

[2016-06-23 06:46] #312 closed

[2016-06-23 16:39] #323 closed

[2016-06-23 20:34] madisonsites commented on #303
What data are we trying to back up exactly?

[2016-06-23 20:35] JoshSmith commented on #303
@madisonsites All of our data in S3, mostly user images.

[2016-06-23 21:05] begedin commented on #257
@JoshSmith I think this can be closed now, correct?

[2016-06-23 22:06] begedin opened #343 "Enable coalesced find requests for GET requests on various endpoints"
What I think we need

* [x] Organization memberships - #344
* [x] Organizations - #345
* [x] Users - awaiting review in #347
* [x] User skills - awaiting review in #341
- [x] User categories
* [x] Skills
* [x] Comments
* [x] Posts

Others would make sense, but I think these are higher priority. Feel free to add to this description, though.

Also, I'm expecting duplicate code here, so might be a go

[2016-06-24 04:16] JoshSmith opened #348 "Add UserPolicy spec"
There does not appear to be a spec for the `UserPolicy`. Should be quick to write.

[2016-06-24 15:50] JoshSmith commented on #236
Closed by coalescing.

[2016-06-24 15:50] #236 closed

[2016-06-24 16:47] JoshSmith opened #351 "Fix failing tests on first-run for someone without ENV"
After some consideration, here's a viable set of options to get us less ENV-dependent for development environments:

- [ ] Identify which integration tests we want to run fully to interact with services in CI (e.g. Facebook, Gravatar, Stripe, AWS) to be sure our interaction with those APIs works as expected
- [x] Skip certain tests if not in CI https://github.com/code-corps/code-corps-api/pull/153

[2016-06-24 16:52] JoshSmith commented on #351
Here are the relevant tests that need skipped:

[code]

[2016-06-24 16:54] JoshSmith commented on #351
Environment variables we rely on for each:

*AWS*
`AWS_ACCESS_KEY_ID`
`AWS_SECRET_ACCESS_KEY`
`CLOUDFRONT_DOMAIN`
`S3_BUCKET_NAME`

*Facebook*
`FACEBOOK_APP_ID`
`FACEBOOK_APP_SECRET`
`FACEBOOK_REDIRECT_URL`

*Pusher*
`PUSHER_APP_ID`
`PUSHER_FAKE`
`PUSHER_KEY`
`PUSHER_SECRET`

[2016-06-24 22:24] JoshSmith opened #354 "Document imagemagick dependency"
We should document that you need imagemagick installed.

Also should find a way to install it on `bin/setup` if it does not exist, or at least warn the user if it does not.

[2016-06-24 22:28] JoshSmith opened #355 "Add code theme preference"
Add the ability for a user to set their code theme preference. This could be as simple as an `enum` on the `User` that sets a `light` or `dark` theme, with `light` as the default.

We should test:

- model
- serialization
- API request

[2016-06-24 22:36] #343 closed

[2016-06-25 08:08] #348 closed

[2016-06-25 17:39] JoshSmith commented on #353
Closed by #358.

[2016-06-25 17:51] #301 closed

[2016-06-25 18:28] rigelstpierre commented on #354
Closed by #357

[2016-06-25 18:28] #354 closed

[2016-06-25 18:29] rigelstpierre commented on #319
Closed by #356

[2016-06-26 00:06] JoshSmith commented on #355
Closed by #372.

[2016-06-26 00:06] #355 closed

[2016-06-26 03:17] JoshSmith commented on #303
We should do this in Glacier. Not important enough to warrant it yet, but should be done soonish.

[2016-06-26 19:26] #320 closed

[2016-06-28 23:03] madisonsites commented on #333
In my dev env with my company, we actually have to create and import the indexes ourselves, but maybe you've already done that and we're trying to troubleshoot something else.

[2016-07-01 19:01] JoshSmith opened #382 "Replace 401s with 403s for unauthorized"
Per this comment: https://github.com/code-corps/code-corps-ember/issues/50#issuecomment-228925887

[2016-07-01 21:59] JoshSmith opened #383 "Convert user-submitted URLs before save"
Should do something like the following:

[code]

[2016-07-01 22:01] JoshSmith commented on #383
We'll need to add a migration to fix this with existing websites, too.

[2016-07-03 15:59] JoshSmith opened #384 "Create a Vagrant VM for development environments"
We can use a guide like the following: https://gorails.com/guides/using-vagrant-for-rails-development

We'll need to ensure we include Chef recipes for everything else we need, like PostgreSQL and Redis and elasticsearch, to name a few.

[2016-07-03 16:54] #382 closed

[2016-07-04 21:30] JoshSmith commented on #225
This was a really good and overlooked point that has since been resolved with #385. The wording was absolutely incorrect because _the response itself_ was incorrect.

Old issue, but still good thinking on this @scarfdestroyer.

[2016-07-04 21:30] #225 closed

[2016-07-04 23:13] JoshSmith opened #388 "Split up name into first and last name"
Right now we have a `name` on users. We should split this up using `first_name` and `last_name` using something like https://github.com/pahanix/full-name-splitter.

This will require:

- [x] Migrating the fields
- [x] Migrating the split of the names
- [x] Moving `name` to be a virtual attribute
- [x] Rewriting model specs
- [x] Rewriting API specs
- [ ] Implementing changes in the front-end

[2016-07-05 00:01] JoshSmith commented on #350
This is blocked by #388.

[2016-07-05 02:39] samuelralak commented on #390
Hey @JoshSmith here is the first issue based on my findings from Postman. Please have a look and let me know your thoughts or suggestions.

[2016-07-05 04:09] JoshSmith commented on #390
@samuelralak definitely great to see this here. I don't really have anything to comment on here but this is absolutely the kind of thing we need to start tackling the API docs with API Blueprint.

[2016-07-05 19:30] JoshSmith opened #397 "Add Ansible scripts for setting up dev environment with Vagrant"

[2016-07-06 22:08] JoshSmith commented on #397
Closed by #398.

[2016-07-06 22:08] #397 closed

[2016-07-06 22:11] JoshSmith commented on #384
Closed by #398.

[2016-07-06 22:11] #384 closed

[2016-07-06 22:12] JoshSmith commented on #383
Closed by #395.

[2016-07-06 22:12] #383 closed

[2016-07-07 02:47] npendery opened #400 "Document Categories API"
We should document this endpoint using a combination of:

- [API Blueprint](https://apiblueprint.org/) for writing the documentation of resources, actions, and URIs
- [Dredd](https://dredd.readthedocs.io/en/latest/) for testing the documentation matches the API
- [Apiary](https://apiary.io/) for browsing the docs

Please reference the journey issue #387 for further instructions or commentary on do

[2016-07-07 02:48] npendery opened #401 "Document Comment Images API"
We should document this endpoint using a combination of:

- [API Blueprint](https://apiblueprint.org/) for writing the documentation of resources, actions, and URIs
- [Dredd](https://dredd.readthedocs.io/en/latest/) for testing the documentation matches the API
- [Apiary](https://apiary.io/) for browsing the docs

Please reference the journey issue #387 for further instructions or commentary on do

[2016-07-07 02:50] npendery opened #402 "Document Comment User Mentions API"
We should document this endpoint using a combination of:

- [API Blueprint](https://apiblueprint.org/) for writing the documentation of resources, actions, and URIs
- [Dredd](https://dredd.readthedocs.io/en/latest/) for testing the documentation matches the API
- [Apiary](https://apiary.io/) for browsing the docs

Please reference the journey issue #387 for further instructions or commentary on do

[2016-07-07 02:51] npendery opened #403 "Document `requests/api/comments_spec.rb`"
We should document this spec using a combination of:

- [API Blueprint](https://apiblueprint.org/) for writing the documentation of resources, actions, and URIs
- [Dredd](https://dredd.readthedocs.io/en/latest/) for testing the documentation matches the API
- [Apiary](https://apiary.io/) for browsing the docs

Please reference the journey issue #387 for further instructions or commentary on docume

[2016-07-07 02:53] npendery opened #404 "Document Ember Index API"
We should document this endpoint using a combination of:

- [API Blueprint](https://apiblueprint.org/) for writing the documentation of resources, actions, and URIs
- [Dredd](https://dredd.readthedocs.io/en/latest/) for testing the documentation matches the API
- [Apiary](https://apiary.io/) for browsing the docs

Please reference the journey issue #387 for further instructions or commentary on do

[2016-07-07 02:55] npendery opened #405 "Document Github Repositories API"
We should document this endpoint using a combination of:

- [API Blueprint](https://apiblueprint.org/) for writing the documentation of resources, actions, and URIs
- [Dredd](https://dredd.readthedocs.io/en/latest/) for testing the documentation matches the API
- [Apiary](https://apiary.io/) for browsing the docs

Please reference the journey issue #387 for further instructions or commentary on do

[2016-07-07 02:58] npendery opened #407 "Document Imports API"
We should document this endpoint using a combination of:

- [API Blueprint](https://apiblueprint.org/) for writing the documentation of resources, actions, and URIs
- [Dredd](https://dredd.readthedocs.io/en/latest/) for testing the documentation matches the API
- [Apiary](https://apiary.io/) for browsing the docs

Please reference the journey issue #387 for further instructions or commentary on do

[2016-07-07 03:01] npendery opened #410 "Document Organizations API"
We should document this endpoint using a combination of:

- [API Blueprint](https://apiblueprint.org/) for writing the documentation of resources, actions, and URIs
- [Dredd](https://dredd.readthedocs.io/en/latest/) for testing the documentation matches the API
- [Apiary](https://apiary.io/) for browsing the docs

Please reference the journey issue #387 for further instructions or commentary on do

[2016-07-07 03:01] npendery opened #411 "Document Ping API"
We should document this endpoint using a combination of:

- [API Blueprint](https://apiblueprint.org/) for writing the documentation of resources, actions, and URIs
- [Dredd](https://dredd.readthedocs.io/en/latest/) for testing the documentation matches the API
- [Apiary](https://apiary.io/) for browsing the docs

Please reference the journey issue #387 for further instructions or commentary on do

[2016-07-07 03:06] npendery opened #416 "Document Preview User Mentions API"
We should document this endpoint using a combination of:

- [API Blueprint](https://apiblueprint.org/) for writing the documentation of resources, actions, and URIs
- [Dredd](https://dredd.readthedocs.io/en/latest/) for testing the documentation matches the API
- [Apiary](https://apiary.io/) for browsing the docs

Please reference the journey issue #387 for further instructions or commentary on do

[2016-07-07 03:07] npendery opened #417 "Document Previews API"
We should document this endpoint using a combination of:

- [API Blueprint](https://apiblueprint.org/) for writing the documentation of resources, actions, and URIs
- [Dredd](https://dredd.readthedocs.io/en/latest/) for testing the documentation matches the API
- [Apiary](https://apiary.io/) for browsing the docs

Please reference the journey issue #387 for further instructions or commentary on do

[2016-07-07 03:09] npendery opened #420 "Document Skills API"
We should document this endpoint using a combination of:

- [API Blueprint](https://apiblueprint.org/) for writing the documentation of resources, actions, and URIs
- [Dredd](https://dredd.readthedocs.io/en/latest/) for testing the documentation matches the API
- [Apiary](https://apiary.io/) for browsing the docs

Please reference the journey issue #387 for further instructions or commentary on do

[2016-07-07 03:10] npendery opened #422 "Document Role Skills API"
We should document this endpoint using a combination of:

- [API Blueprint](https://apiblueprint.org/) for writing the documentation of resources, actions, and URIs
- [Dredd](https://dredd.readthedocs.io/en/latest/) for testing the documentation matches the API
- [Apiary](https://apiary.io/) for browsing the docs

Please reference the journey issue #387 for further instructions or commentary on do

[2016-07-07 03:10] npendery opened #423 "Document Roles API"
We should document this endpoint using a combination of:

- [API Blueprint](https://apiblueprint.org/) for writing the documentation of resources, actions, and URIs
- [Dredd](https://dredd.readthedocs.io/en/latest/) for testing the documentation matches the API
- [Apiary](https://apiary.io/) for browsing the docs

Please reference the journey issue #387 for further instructions or commentary on do

[2016-07-07 03:10] npendery opened #424 "Document Skills API"
We should document this endpoint using a combination of:

- [API Blueprint](https://apiblueprint.org/) for writing the documentation of resources, actions, and URIs
- [Dredd](https://dredd.readthedocs.io/en/latest/) for testing the documentation matches the API
- [Apiary](https://apiary.io/) for browsing the docs

Please reference the journey issue #387 for further instructions or commentary on do

[2016-07-07 03:11] npendery opened #425 "Document Slugged Routes API"
We should document this endpoint using a combination of:

- [API Blueprint](https://apiblueprint.org/) for writing the documentation of resources, actions, and URIs
- [Dredd](https://dredd.readthedocs.io/en/latest/) for testing the documentation matches the API
- [Apiary](https://apiary.io/) for browsing the docs

Please reference the journey issue #387 for further instructions or commentary on do

[2016-07-07 03:11] npendery opened #426 "Document Tokens API"
We should document this endpoint using a combination of:

- [API Blueprint](https://apiblueprint.org/) for writing the documentation of resources, actions, and URIs
- [Dredd](https://dredd.readthedocs.io/en/latest/) for testing the documentation matches the API
- [Apiary](https://apiary.io/) for browsing the docs

Please reference the journey issue #387 for further instructions or commentary on do

[2016-07-07 03:12] npendery opened #429 "Document User Skills API"
We should document this endpoint using a combination of:

- [API Blueprint](https://apiblueprint.org/) for writing the documentation of resources, actions, and URIs
- [Dredd](https://dredd.readthedocs.io/en/latest/) for testing the documentation matches the API
- [Apiary](https://apiary.io/) for browsing the docs

Please reference the journey issue #387 for further instructions or commentary on do

[2016-07-08 03:01] JoshSmith commented on #388
Closed by #392.

[2016-07-08 03:01] #388 closed

[2016-07-08 16:47] schneidmaster opened #434 "Clarify that bin/setup must be run in new terminal window"
From the current [Docker docs](https://github.com/code-corps/code-corps-api/blob/develop/docs/DEFAULT_INSTALL.md#setup-your-database), it is unclear that `bin/setup` is to be run in a new terminal window alongside the `docker-compose up` from the previous step.

[2016-07-08 20:14] JoshSmith opened #435 "Find a way to deploy branch commits"
It would be great if we could deploy and test branches on a public server so that we can review code without needing to pull it down.

[2016-07-08 20:35] christopherstyles commented on #435
Howabout Heroku [review apps](https://devcenter.heroku.com/articles/github-integration-review-apps)?

[2016-07-08 20:38] JoshSmith opened #438 "Reference GitHub repositories in a post"
We should able to reference relevant GitHub repos in a post so people know where they can go contribute.

[2016-07-08 20:48] JoshSmith opened #440 "Add GitHub authentication"
We should allow users to sign up with GitHub and also to integrate their GitHub account into their current account.

[2016-07-08 20:49] JoshSmith opened #441 "Connect GitHub repositories to projects"
Differs from #437 by explicitly using the GitHub API, rather than just specifying a URL. This is a next step towards larger GitHub integration.

[2016-07-12 03:56] #426 closed

[2016-07-14 19:22] #400 closed

[2016-07-14 23:44] #434 closed

[2016-07-15 01:36] JoshSmith commented on #443
I've got this now.

[2016-07-16 23:06] joshsmith opened #1 "Add the ability to push to Apiary in Circle"
We should use the Apiary CLI to push newly generated docs to Apiary.

[2016-07-16 23:07] JoshSmith commented on #443
Closed in favor of [#1](https://github.com/code-corps/code-corps-phoenix/issues/1).

[2016-07-16 23:08] joshsmith opened #2 "Find a way to deploy branch commits"
It would be great if we could deploy and test branches on a public server so that we can review code without needing to pull it down.

Maybe Heroku [review apps](https://devcenter.heroku.com/articles/github-integration-review-apps)?

[2016-07-16 23:09] JoshSmith commented on #435
Closing in favor of [#2](https://github.com/code-corps/code-corps-phoenix/issues/2).

[2016-07-16 23:09] #435 closed

[2016-07-16 23:10] joshsmith opened #3 "Add ability to assign tasks"
We should be able to assign tasks to members of a project.

[2016-07-16 23:10] JoshSmith commented on #436
Closing in favor of [#3](https://github.com/code-corps/code-corps-phoenix/issues/3).

[2016-07-16 23:11] joshsmith opened #4 "Reference GitHub repositories in a project"
We should be able, on the project page, to link to all of a project's relevant GitHub repos.

[2016-07-16 23:12] JoshSmith commented on #437
Closing in favor of [#4](https://github.com/code-corps/code-corps-phoenix/issues/4).

[2016-07-16 23:12] JoshSmith commented on #351
Closing because moving to Phoenix.

[2016-07-16 23:12] #351 closed

[2016-07-16 23:13] joshsmith opened #5 "Reference GitHub repositories in a task"
We should able to reference relevant GitHub repos in a task so people know where they can go contribute.

[2016-07-16 23:13] JoshSmith commented on #438
Closing in favor of [#5](https://github.com/code-corps/code-corps-phoenix/issues/5).

[2016-07-16 23:14] #438 closed

[2016-07-16 23:14] joshsmith opened #6 "Add project updates to projects"
We should add a way for people, in markdown, to write updates about where the project stands.

[2016-07-16 23:15] JoshSmith commented on #439
Closing in favor of [#6](https://github.com/code-corps/code-corps-phoenix/issues/6).

[2016-07-16 23:15] joshsmith opened #7 "Add GitHub authentication"
We should allow users to integrate their GitHub account into their current account.

Some quick thoughts around this:

- We need to be able to associate most records (like `Comment` and `Task`) to a `User` that created them
- A `User` could be created by signing up with email, but could also be created via webhooks by some action on GitHub (or some other service)
- We can’t assume a user has an em

[2016-07-16 23:15] JoshSmith commented on #440
Closing in favor of [#7](https://github.com/code-corps/code-corps-phoenix/issues/7).

[2016-07-16 23:15] #440 closed

[2016-07-16 23:16] joshsmith opened #8 "Connect GitHub repositories to projects"
Differs from #4 by explicitly using the GitHub API, rather than just specifying a URL. This is a next step towards larger GitHub integration.

[2016-07-16 23:16] JoshSmith commented on #441
Closing in favor of [#8](https://github.com/code-corps/code-corps-phoenix/issues/8).

[2016-07-16 23:16] #441 closed

[2016-07-16 23:19] JoshSmith commented on #109
Closing as irrelevant because moving to Phoenix.

[2016-07-16 23:19] JoshSmith commented on #150
Closing as irrelevant because moving to Phoenix.

[2016-07-16 23:19] #150 closed

[2016-07-16 23:19] JoshSmith commented on #212
Closing as irrelevant because moving to Phoenix.

[2016-07-16 23:19] #212 closed

[2016-07-16 23:19] JoshSmith commented on #218
Closing as irrelevant because moving to Phoenix.

[2016-07-16 23:19] JoshSmith commented on #260
Closing as irrelevant because moving to Phoenix.

[2016-07-16 23:19] JoshSmith commented on #261
Closing as irrelevant because moving to Phoenix.

[2016-07-16 23:19] JoshSmith commented on #269
Closing as irrelevant because moving to Phoenix.

[2016-07-16 23:19] #269 closed

[2016-07-16 23:19] JoshSmith commented on #276
Closing as irrelevant because moving to Phoenix.

[2016-07-16 23:19] #276 closed

[2016-07-16 23:19] JoshSmith commented on #284
Closing as irrelevant because moving to Phoenix.

[2016-07-16 23:19] JoshSmith commented on #333
Closing as irrelevant because moving to Phoenix.

[2016-07-16 23:19] #333 closed

[2016-07-16 23:21] JoshSmith commented on #339
Closing as irrelevant because moving to Phoenix.

[2016-07-16 23:21] JoshSmith commented on #391
Closing as irrelevant because moving to Phoenix.

[2016-07-16 23:21] JoshSmith commented on #393
Closing as irrelevant because moving to Phoenix.

[2016-07-16 23:21] JoshSmith commented on #396
Closing as irrelevant because moving to Phoenix.

[2016-07-16 23:24] joshsmith opened #9 "Add ability to sign up with Github"
Reference notes from [Rails repo](https://github.com/code-corps/code-corps-api/issues/72)

[2016-07-16 23:24] JoshSmith commented on #72
Closed in favor of [#9](https://github.com/code-corps/code-corps-phoenix/issues/9).

[2016-07-16 23:24] #72 closed

[2016-07-16 23:24] JoshSmith commented on #147
Closing as irrelevant because moving to Phoenix.

[2016-07-16 23:25] joshsmith opened #10 "Add donations engine with Stripe"
Here's how we want to structure this:
- `Donation` will be monthly recurring.
- We would store a `Customer` object on the platform account for later reuse.
- We'll show a loading bar marking progress for each monthly goal.
- We will need to aggregate a project's monthly total amounts.
- We would use Stripe's marketplaces to charge a marketplace fee. Each project owner would then need to add bank d

[2016-07-16 23:25] JoshSmith commented on #206
Closing in favor of [#10](https://github.com/code-corps/code-corps-phoenix/issues/10).

[2016-07-16 23:25] #206 closed

[2016-07-16 23:26] joshsmith opened #11 "Add estimated size of a task (t-shirt size)"
Users should be able to choose the size of a task: `XS`, `S`, `M`, `L`, `XL` to serve as estimate of work involved in completing it.

[2016-07-16 23:26] JoshSmith commented on #211
Closing in favor of [#11](https://github.com/code-corps/code-corps-phoenix/issues/11).

[2016-07-16 23:28] joshsmith opened #12 "Consider measuring project health with metrics"
We should consider how to measure project health, if only as an internal mechanism to warn us when projects need help. Issue stats (http://issuestats.com/) is a good example. Ember Addons (https://www.emberaddons.com/) health scores are maybe even better.

We need to be able to identify if issues are not being tended quickly.

Of course, these quantitative metrics are not enough. We need to be con

[2016-07-16 23:28] JoshSmith commented on #221
Closing in favor of [#12](https://github.com/code-corps/code-corps-phoenix/issues/12).

[2016-07-16 23:29] joshsmith opened #13 "Consider adding goals"
It can be hard to get a sense of the big picture by just looking at issues, or even feature requests and tasks and ideas.

Goals are more defined. They have a target and they're planned by allocating a number of tasks to that specific goal.

As an implementation detail, we're talking about a `habtm`. A goal can belong to any number of other goals. And a goal can involve a certain number of tasks.

[2016-07-16 23:29] JoshSmith commented on #222
Closing in favor of [#13](https://github.com/code-corps/code-corps-phoenix/issues/13).

[2016-07-16 23:30] joshsmith opened #14 "Determine reserved routes"
See what list of present or future routes we need to reserve.

[2016-07-16 23:30] #241 closed

[2016-07-16 23:31] joshsmith opened #15 "A project admin can set a monthly pledge goal for their project"
This should be a dollar amount. They can also choose not to set any sort of goal.

[2016-07-16 23:31] JoshSmith commented on #264
Closing in favor of [#15](https://github.com/code-corps/code-corps-phoenix/issues/15).

[2016-07-16 23:32] joshsmith opened #16 "A user can see a project in the list of published projects only if made public and provided enough details"
A project cannot be seen users at large unless the admins have made it explicitly visible, and the project has at least a title, a description, a category, and a skill.

[2016-07-16 23:32] JoshSmith commented on #265
Closing in favor of [#16](https://github.com/code-corps/code-corps-phoenix/issues/16).

[2016-07-16 23:33] joshsmith opened #17 "Add S3 backups for images"
We need to be able to create backups of our data in S3 so that we can recover it in case anything goes wrong. I'm not positive how to do this and could use thoughts from someone who knows.

[2016-07-16 23:33] JoshSmith commented on #303
Closing in favor of [#17](https://github.com/code-corps/code-corps-phoenix/issues/17).

[2016-07-16 23:33] joshsmith opened #18 "Add contributors link to README"

[2016-07-16 23:33] JoshSmith commented on #331
Closing in favor of [#18](https://github.com/code-corps/code-corps-phoenix/issues/18).

[2016-07-16 23:34] JoshSmith commented on #336
Closing as irrelevant because moving to Phoenix.

[2016-07-16 23:34] #336 closed

[2016-07-16 23:34] joshsmith opened #19 "Send email when you're approved to a project"
We should send you an email when you're approved to join a project and start contributing.

This could use some copy, but should be really congratulatory sounding. It should also give some idea of how to get started.

[2016-07-16 23:34] JoshSmith commented on #340
Closing in favor of [#19](https://github.com/code-corps/code-corps-phoenix/issues/19).

[2016-07-16 23:35] joshsmith opened #20 "Add email verification on signup"
We should add a way for a user to verify their email. This verification should change when the user changes their email, as well.

[2016-07-16 23:35] JoshSmith commented on #369
Closing in favor of [#20](https://github.com/code-corps/code-corps-phoenix/issues/20).

[2016-07-16 23:35] joshsmith opened #21 "Add transactional email templates"
We can use these Mailgun templates and modify them for our own purposes: https://github.com/mailgun/transactional-email-templates/tree/master/templates

[2016-07-16 23:35] JoshSmith commented on #370
Closing in favor of [#21](https://github.com/code-corps/code-corps-phoenix/issues/21).

[2016-07-20 17:10] joshsmith opened #22 "Add ability for someone to sign in with username or email"
Problem: People are actively trying to sign in with a username instead of an email:

Solution: Allow sign-in with username along with email address.

[2016-07-20 17:33] green-arrow commented on #387
@JoshSmith a couple general questions for these API docs:

* It looks like the "OAuth Grant Request" object is being put as an attribute for every single request. Is this correct? It seems like that is only used on the initial OAuth token request, and the bearer token used in the header for all other API calls.

* The docs reference `Authorization: Basic...`, but I think should be `Bearer`, is the

[2016-07-20 17:34] JoshSmith commented on #387
`Bearer` and not `Basic` yeah. Needs fixed. We can open a separate issue for that.

[2016-07-20 17:35] JoshSmith commented on #387
It's possible your first point is also a mistake. I would also open a separate issue there. It seems incorrect, but won't be able to verify for a bit. Do any others see incongruence there?

[2016-07-20 17:36] christopherstyles commented on #387
I’ve been meaning to update the [`Basic` -> `Bearer`] issue in a separate PR. @JoshSmith if you create an issue for it, go ahead and assign it to me?

[2016-07-20 18:02] green-arrow commented on #402
In progress by me

[2016-07-22 13:29] #417 closed

[2016-07-22 14:24] #401 closed

[2016-07-22 15:37] JoshSmith commented on #463
It would be good to clarify where in the API spec you're sourcing the conventions, and also to look through our existing blueprint to see what other types of objects we're missing from your example that would be renamed.

This process won't catch every edge case right now, but we at least have a good pool of real-world examples from our own project to discuss in the course of this conversation.

[2016-07-22 15:47] green-arrow commented on #463
@JoshSmith what do you mean by clarify where in the API spec I'm sourcing the conventions? Like where did I come up with the convention?

In that case, the double spacing came from #458.

As for other types of objects, the kinds I'm seeing are:

Errors (conflict, 4xx errors like not found, etc)
OAuth Grant

Maybe it would be good to separate out the `resource` data structures from these other more

[2016-07-22 21:31] christopherstyles commented on #463
A little late to the conversation, but I love where this is going. Good call on mirroring json-api, makes a lot of sense 👍

[2016-07-23 12:43] begedin commented on #463
:+1:  For me as well. I wen't a bit overboard with objects in my PR. This is a nice balance and the naming is clear.

The only trouble I'm seeing (and I'm having that in my PR as well, are "reduced" objects we use in requests. For example, in a POST request, our Comment Resource does not have an ID and it only supports the "markdown" attribute. Nothing else can be assigned by the user.

Any ideas

[2016-07-23 22:52] christopherstyles commented on #463
In case anyone else comes across this: if you have an attribute with an underscore `_` and its value also has an underscore `_`, the example text won’t render correctly in the UI. Here’s an example:

[code]

The output will look something like this:

![image](https://cloud.githubusercontent.com/assets/183812/17080687/fedcdd80-50ec-11e6-8556-259173976f09.png)

Instead, you have to escape the attrib

[2016-07-25 15:48] JoshSmith commented on #463
@begedin doesn't the comment resource have an `id` due to `include Comment Resource Identifier?

[2016-07-25 15:49] JoshSmith commented on #463
@begedin I think we handle individually now at cost of repetition and break it down further if needed.

[2016-07-25 15:51] JoshSmith commented on #463
Does someone want to take on adding documentation for this in a pull request, or possibly just adding this to the wiki to save some time?

[2016-07-27 03:17] JoshSmith commented on #420
Closing as duplicate of #424.

[2016-07-27 03:17] #420 closed

[2016-07-27 03:25] #422 closed

[2016-07-27 23:16] #423 closed

[2016-07-27 23:20] christopherstyles commented on #463
After much scratching-of-the-head over some really odd behavior (data structures with child attributes displaying as siblings, disappearing sections, etc) when using 2-space indentation, I think we should make it a general rule to indent all things with 4 spaces. It’s how they format indents in their [examples](https://github.com/apiaryio/api-blueprint/tree/master/examples). Switching to 4-space i

[2016-07-28 02:47] #410 closed

[2016-07-28 03:46] JoshSmith commented on #427
I've got this.

[2016-07-28 03:55] JoshSmith opened #474 "Change wording in role skills"
The wording in the role skills endpoint reads:

This gives too much insight into implementation at the database layer. We should really say something like:

[2016-07-28 20:28] #424 closed

[2016-07-29 01:13] #425 closed

[2016-07-31 19:31] joshsmith opened #25 "Move Docker over to this project"
We'll need a new `Dockerfile` and can use this as an example: https://github.com/marcelocg/phoenix-docker/blob/master/Dockerfile

[2016-07-31 19:37] #429 closed

[2016-07-31 20:11] JoshSmith opened #484 "Make changes suggested by API Blueprint linter"
Should use Atom's API Blueprint linter to make any suggested changes.

[2016-07-31 20:15] #402 closed

[2016-07-31 20:22] JoshSmith opened #486 "Rework User Skills and Role Skills to remove "join table" references"
We should reword these groups in the API docs to look more like the User Categories, for example.

[2016-07-31 20:47] JoshSmith opened #487 "Fix project#create to respond according to JSON API spec"
Project#create currently sets organization as part of the attributes payload, which is not according to JSON API spec. I have added the relationship, even though it doesn't match our current API. We cannot infer it from the current user, since the current user can belong to multiple organizations where they are able to create projects.

[2016-07-31 21:05] JoshSmith commented on #415
Closed by #454.

[2016-07-31 21:05] JoshSmith commented on #430
Closed by #455.

[2016-07-31 22:42] #474 closed

[2016-07-31 22:42] #486 closed

[2016-08-01 00:54] joshsmith opened #26 "Migrate Rails API to Phoenix"
This is a journey issue that collects all the basic API endpoints to achieve parity with the soon-to-be deprecated Rails API.
## Minor features
- [x] **OrganizationMemberhship** missing ability to filter by role. This is currently an option for the "filter by organization slug" index endpoint on the rails api #132 _in progres_
- [x] **RoleSkill** - missing the `cat` enum field #129
- [ ] Duplicate

[2016-08-01 00:56] joshsmith opened #27 "Add Categories API"
Part of #26.

This can be split out into multiple issues to reflect the endpoints in the API docs: http://docs.codecorpsapidevelop.apiary.io/#reference/categories
- [x] Create
- [x] List all
- [x] Retrieve
- [x] Update

[2016-08-01 00:57] joshsmith opened #28 "Add Comments API"
Part of #26.

This can be split out into multiple issues to reflect the endpoints in the API docs: http://docs.codecorpsapidevelop.apiary.io/#reference/categories
- [ ] Create
- [ ] List all
- [ ] Filter
- [ ] Update

[2016-08-01 00:58] joshsmith opened #29 "Add Organizations API"
Part of #26.

This can be split out into multiple issues to reflect the endpoints in the API docs: http://docs.codecorpsapidevelop.apiary.io/#reference/categories
- [x] List all
- [ ] Filter
- [x] Retrieve
- [x] Update

[2016-08-01 00:59] joshsmith opened #30 "Add Organization Memberships API"
Part of #26.

This can be split out into multiple issues to reflect the endpoints in the API docs: http://docs.codecorpsapidevelop.apiary.io/#reference/categories
- [ ] List all
- [ ] Create
- [ ] Filter
- [ ] Retrieve
- [ ] Update
- [ ] Delete

[2016-08-01 00:59] joshsmith opened #31 "Add Posts API"
Part of #26.

This can be split out into multiple issues to reflect the endpoints in the API docs: http://docs.codecorpsapidevelop.apiary.io/#reference/categories
- [x] List all
- [x] Create
- [x] Retrieve
- [x] Update

[2016-08-01 00:59] joshsmith opened #32 "Add Previews API"
Part of #26.

This can be split out into multiple issues to reflect the endpoints in the API docs: http://docs.codecorpsapidevelop.apiary.io/#reference/categories
- [ ] Create

[2016-08-01 01:00] joshsmith opened #33 "Add Project Categories API"
Part of #26.

This can be split out into multiple issues to reflect the endpoints in the API docs: http://docs.codecorpsapidevelop.apiary.io/#reference/categories
- [ ] Create
- [ ] Delete

[2016-08-01 01:00] joshsmith opened #34 "Add Projects API"
Part of #26.

This can be split out into multiple issues to reflect the endpoints in the API docs: http://docs.codecorpsapidevelop.apiary.io/#reference/categories
- [x] List all
- [x] Create
- [x] Retrieve
- [x] Retrieve for organization by slug
- [x] Retrieve by slug
- [x] Update
- [ ] Project icon uploading

[2016-08-01 01:01] joshsmith opened #35 "Add Role Skills API"
Part of #26.

This can be split out into multiple issues to reflect the endpoints in the API docs: http://docs.codecorpsapidevelop.apiary.io/#reference/categories
- [ ] Create

[2016-08-01 01:02] joshsmith opened #36 "Add Roles API"
Part of #26.

This can be split out into multiple issues to reflect the endpoints in the API docs: http://docs.codecorpsapidevelop.apiary.io/#reference/categories
- [ ] List all
- [ ] Create

[2016-08-01 01:03] joshsmith opened #37 "Add Skills API"
Part of #26.

This can be split out into multiple issues to reflect the endpoints in the API docs: http://docs.codecorpsapidevelop.apiary.io/#reference/categories
- [ ] Create
- [ ] Filter
- [ ] Autocomplete
- [ ] Retrieve

[2016-08-01 01:03] joshsmith opened #38 "Add Slugged Routes API"
Part of #26.

This can be split out into multiple issues to reflect the endpoints in the API docs: http://docs.codecorpsapidevelop.apiary.io/#reference/categories
- [x] Retrieve

[2016-08-01 01:03] joshsmith opened #39 "Add User Categories API"
Part of #26.

This can be split out into multiple issues to reflect the endpoints in the API docs: http://docs.codecorpsapidevelop.apiary.io/#reference/categories
- [ ] Create
- [ ] Filter
- [ ] Retrieve
- [ ] Delete

[2016-08-01 01:04] joshsmith opened #40 "Add User Roles API"
Part of #26.

This can be split out into multiple issues to reflect the endpoints in the API docs: http://docs.codecorpsapidevelop.apiary.io/#reference/categories
- [ ] Create
- [ ] Delete

[2016-08-01 01:04] joshsmith opened #41 "Add User Skills API"
Part of #26.

This can be split out into multiple issues to reflect the endpoints in the API docs: http://docs.codecorpsapidevelop.apiary.io/#reference/categories
- [ ] Create
- [ ] Filter
- [ ] Retrieve
- [ ] Delete

[2016-08-01 01:06] joshsmith opened #42 "Add Users API"
Part of #26.

This can be split out into multiple issues to reflect the endpoints in the API docs: http://docs.codecorpsapidevelop.apiary.io/#reference/categories
- [x] Create
- [ ] Filter
- [x] Retrieve
- [x] Check email availability
- [x] Check username availability
- [x] Update

I think we should get rid of `/user/` and `/me` endpoints. Let's not map those over and instead use the normal `users

[2016-08-02 17:19] npendery commented on #411
Closed by PR #453

[2016-08-02 17:19] #411 closed

[2016-08-02 19:54] #25 closed, assigned to nobody

[2016-08-04 20:44] #407 closed

[2016-08-05 13:06] begedin commented on #42
~~@JoshSmith Is this up to date? From what I can tell, on the development branch, "update", "retrieve" and "create" all work. I clicked those in, but feel free to revert if there's something missing there.~~

Nevermind. I only just figured out we're actually missing some of the fields.

[2016-08-06 23:21] snewcomer opened #51 "Graphql"
@JoshSmith Any thoughts on using graphql for the backend instead of rest.  I know a few ppl who have migrated their apps and have found it simplifies their backend significantly.  Basically will eliminate the need to specify all endpoints and the format of each response.  Sort of eliminates the rigidness of the api.  Also, leaving the client in charge of what data it wants reduces the need for api

[2016-08-07 05:53] joshsmith commented on #51
I definitely appreciate the thoughtfulness of this idea and know similar people who have seen great success with GraphQL. I don't think, though, that it's the right fit for us right now, so I'm going to close this.

Thanks for speaking up on it.

[2016-08-07 05:53] #51 closed, assigned to nobody

[2016-08-08 23:56] #38 closed, assigned to joshsmith

[2016-08-09 15:25] green-arrow opened #55 "Issue with organizations table"
It looks like the organizations table is being defined with nullable columns on `name` and `slug`. In the existing schema, both of these are `NOT NULL` columns. Is this change intentional?

If they should be `NOT NULL`, it will cause some issues with the controller test cases. We'll no longer be able to just `Repo.insert! %Organization{}`, since those fields must have values now. Additionally, the

[2016-08-09 15:39] joshsmith commented on #55
@green-arrow `name` and `slug` should both be `NOT NULL` and those fields validate as required in the changeset. Do you want to do a fix PR to address?

Thanks for pointing this out!

[2016-08-10 01:25] joshsmith commented on #55
@green-arrow let me know if you'd like to take on PR for this or if you want me to. Assign to whomever you'd like.

[2016-08-10 01:58] green-arrow commented on #55
@JoshSmith I can take it on, but I probably won't get to it till tomorrow evening

[2016-08-10 04:03] joshsmith opened #59 "Restrict certain endpoints to admins only"
We have a lot of `create` and `update` actions on endpoints that should only be possible for site-wide admins to hit.

This is blocked by:
- not having any concept of an admin for users
- not having a library for permissions, AKA `canary`

A non-exhaustive list of endpoints and actions that need to be restricted to admins:
- organizations - create
- roles - create, update
- role skills - create, d

[2016-08-10 14:06] npendery opened #60 "Add Elasticsearch Capabilities to Application"
Files it is used in:
- [ ] `Skill_controller.ex`

Possible clients to use:
[Tirexs](https://hexdocs.pm/tirexs/api-reference.html)

[2016-08-10 14:13] begedin opened #61 "JSON API serializer does not follow official specs for relationships"
This is what the payload for a slugged route looks like, for example:

[code]

According to specs, relationships should look like:

[code]

[2016-08-10 14:36] joshsmith commented on #61
@begedin I think Phoenix chooses singularized route names.

[2016-08-10 16:38] joshsmith commented on #60
To clarify a little here, the Rails implementation using `searchkick` looks something like this:

[code]

[code]

Thus a query like `rub` should provide results like `Ruby` and `Ruby on Rails`. Similarly, a query like `rab` would also provide `Ruby` and `Ruby on Rails` (assuming no other relevant results), because the fuzziness of the query allows for some fat-fingering on the user side.

I had do

[2016-08-12 19:50] joshsmith commented on #27
Closed by #58.

[2016-08-12 19:50] #27 closed, assigned to green-arrow

[2016-08-13 07:12] joshsmith opened #64 "Add canary to all endpoints that need it"
Any endpoint that needs some extra authorization step should have `canary` added to it.

[2016-08-13 12:09] begedin opened #65 "Add .editorconfig"
We're lacking an editorconfig. Mainly, we could use it for indentation. I guess the usual 2 spaces for indentation is good enough for now.

[2016-08-13 17:31] joshsmith opened #66 "Add project icon uploading"
The projects endpoint is completely finished except for the ability to upload project icons.

[2016-08-14 17:53] joshsmith commented on #66
This task is related to #26.

[2016-08-14 17:53] joshsmith commented on #64
This task is related to #26.

[2016-08-14 17:53] joshsmith commented on #59
This task is related to #26.

[2016-08-14 17:57] joshsmith opened #67 "Rewrite documentation to account for API changes"
We're going to need to change our API blueprint documentation to account for the API changes that have been incurred during this migration to Phoenix.

[2016-08-14 17:57] joshsmith commented on #67
This is related to #26.

[2016-08-14 18:02] joshsmith opened #68 "Add user profile photo uploading"
We need to add uploading for a user's photo.

[2016-08-14 18:02] joshsmith commented on #68
Relates to #26.

[2016-08-14 18:03] joshsmith opened #69 "Add organization icon uploading"
We need to add uploading for an organization's icon.
- [x] Migration
- [ ] Controller test
- [x] Model test
- [ ] Controller
- [x] Model
- [x] Uploader
- [x] View

[2016-08-14 18:03] joshsmith commented on #69
Relates to #26.

[2016-08-14 21:46] #37 closed, assigned to npendery

[2016-08-15 05:46] snewcomer commented on #61
@JoshSmith do you want the type pluralized to follow the json-api spec??

From the docs:
`def type(_post,_conn), do: "category"`

[2016-08-15 05:48] joshsmith commented on #61
@snewcomer no I don't.

From JSON API spec:

[2016-08-15 06:07] snewcomer commented on #61
@JoshSmith I see, sry.  So Ember Data is able to inflect the model type?

[2016-08-15 06:10] joshsmith commented on #61
@snewcomer yeah, Ember Data doesn't seem to care so much, except maybe on relationships. It's possible we have to do some work at the serializer level of Ember, but I prefer it there over the API. It seems like in some cases Ember Data has made assumptions about the JSON API spec that the spec has not made itself.

[2016-08-15 11:26] begedin commented on #29
Gonna work on filter for this one

[2016-08-15 16:46] joshsmith commented on #35
@snewcomer is working on this.

[2016-08-15 21:38] #29 closed, assigned to joshsmith, begedin

[2016-08-15 21:42] #42 closed, assigned to begedin

[2016-08-15 21:44] #32 closed, assigned to begedin

[2016-08-15 21:45] #65 closed, assigned to begedin

[2016-08-15 21:56] joshsmith opened #75 "Eliminate or replace all Repo.all calls in controllers"
We have a lot of places where we call `Repo.all` without thinking twice about the consequences.

We should start cleaning up all instances of these or replacing them with pagination or something that doesn't fetch every single record from the database.

Please make a separate issue for the one you're trying to remove or replace.

[2016-08-15 22:13] #41 closed, assigned to begedin

[2016-08-15 22:14] joshsmith commented on #34
Closing because the last issue is being tracked separately.

[2016-08-15 22:14] #34 closed, assigned to begedin

[2016-08-15 22:25] joshsmith opened #76 "Add missing seed files"
We're missing seeds for:
- [ ] Roles
- [ ] Skills
- [ ] Users
- [ ] Projects
- [ ] Organizations
- [ ] Posts

Feel free to take on each as a separate task. Look at the Rails API's fixtures for an example on how to do this.

[2016-08-15 22:59] #36 closed, assigned to nobody

[2016-08-16 22:34] joshsmith opened #80 "Switch except to only in router"
In the router we should switch all `except` cases to `only`. It's more explicit.

[2016-08-17 06:50] begedin opened #81 "Add extra assertions to UserSkill controller test"
From #78

The RoleSkills controller test has some useful assertions.

Since UserSkills are nearly identical in behavior, porting those assertions would also be useful.

[2016-08-18 05:38] joshsmith opened #83 "Add state to posts"
We don't have `state` in posts. This is not a super high priority right now, but we should find a way to add this.

I couldn't get this working with the Ecto state machine project because I kept getting weird errors about `cast/3`. Was very odd.

I still think it may actually be simpler to take this approach:

[2016-08-18 05:39] joshsmith opened #84 "Find a way to test concurrency/possible race conditions for post numbering"
When the `number` is generated, it may be possible for two requests to try to create the same number at the same time.

We should find a way in tests to force this to happen and fix the failing tests.

[2016-08-18 05:40] joshsmith commented on #84
Also, while I believe this is possible, it's neither been proven nor disproven. Disproving the hypothesis that a race condition is possible would also be considered enough to close this issue.

[2016-08-18 05:41] joshsmith opened #85 "Add in pagination to all endpoints that need it"
We're missing pagination from a number of endpoints, namely the posts. We should identify the others, and then add pagination to those requests.

[2016-08-18 05:42] joshsmith opened #86 "Add in post_type filtering to the posts endpoint"
We don't have any `post_type` filtering on the posts endpoint right now. We need to add that filtering in to our queries for the `index` actions.

[2016-08-18 05:42] joshsmith commented on #83
Belongs to #26.

[2016-08-18 05:42] joshsmith commented on #84
Belongs to #26.

[2016-08-18 05:42] joshsmith commented on #85
Belongs to #26.

[2016-08-18 05:42] joshsmith commented on #86
Belongs to #26.

[2016-08-18 05:44] #35 closed, assigned to nobody

[2016-08-18 05:44] joshsmith commented on #81
Belongs to #26.

[2016-08-18 12:42] begedin commented on #31
Closing this. Still left with #86, but no need to keep this open for that

[2016-08-18 12:42] #31 closed, assigned to joshsmith

[2016-08-18 20:03] wolverineks opened #90 "Add skills seed"
belongs to #76

[2016-08-18 20:05] joshsmith opened #91 "Either create our own style guide or reference existing one"
Think we should use this as basis:

https://github.com/levionessa/elixir_style_guide

[2016-08-18 20:22] begedin opened #93 "Project endpoint allows changing the organization through the update call"
This should not be happening. A project should not be reassignable once it exists.

[2016-08-18 20:24] joshsmith commented on #93
Belongs to #26.

[2016-08-18 20:26] wolverineks opened #94 "Add roles seed"
belongs to #76

[2016-08-18 20:27] #30 closed, assigned to begedin

[2016-08-18 23:37] wolverineks opened #98 "Add users seed"

[2016-08-18 23:38] wolverineks opened #99 "Add posts seed"
im think this seed needs valid users in the database first

[2016-08-20 08:13] begedin opened #103 "ToDo List"
# Features
## Comments API #28, #82 _in progress_
- [ ] Add relationship to `Project` - has many `Comments`
- [ ] Add relationship to `User` - has many `Comments`
## A `Project` has categories - in progress #105
- [ ] `ProjectCategories` API #33 , #105
- [ ] Add relationships to `Project` - has many `ProjectCategories` and `Categories`
- [ ] Add relationships to `Category` - has many `ProjectCateg

[2016-08-20 10:19] begedin commented on #33
An approach similar to the existing user skill and role skill endpoints can be used here. PRs that have done this:

#78 - Role skills
#74 - User skills

See the changesets there for a demo how how this is done.

[2016-08-20 10:20] begedin commented on #39
An approach similar to the existing user skill and role skill endpoints can be used here. PRs that have done this:

#78 - Role skills
#74 - User skills

See the changesets there for a demo how how this is done.

[2016-08-20 10:20] begedin commented on #40
An approach similar to the existing user skill and role skill endpoints can be used here. PRs that have done this:

#78 - Role skills
#74 - User skills

See the changesets there for a demo how how this is done.

[2016-08-20 11:19] begedin commented on #61
@JoshSmith This should be closable. Basically, we agreed Phoenix is not at fault here. `ember-data` makes assumptions it shouldn't, so we should fix it there. Should we close it?

[2016-08-20 17:02] joshsmith commented on #103
I am going to close this and fold it into #26 for a single point of coordination.

[2016-08-20 17:02] #103 closed, assigned to nobody

[2016-08-20 20:00] #80 closed, assigned to begedin

[2016-08-20 22:42] joshsmith opened #107 "Should we test our seeds file?"
More a question than a task, but should we be writing tests for our seeds file? I doubt we should _assume_ that it works fine.

[2016-08-20 22:58] noslouch opened #108 "docker-compose up dies on initial run"
I did...

[code]

In the middle of this process, I realized that my hard drive is about to run out of space due to [this issue](https://github.com/docker/for-mac/issues/371), so I `ctrl-c` and...

[code]

On my second run, the dependency resolution got further, but failed at `postgrex` for `watch`, and `test`, both with the same error:

[code]

`web` failed at dependency compilation:

[code]

A th

[2016-08-20 23:05] joshsmith commented on #108
And you are using Docker for Mac, right?

[2016-08-20 23:06] noslouch commented on #108
Yup! output from the whaley menu bar icon:

[code]

[2016-08-20 23:07] joshsmith commented on #94
Closed by #95

[2016-08-20 23:07] #94 closed, assigned to wolverineks

[2016-08-20 23:07] joshsmith commented on #98
Closed by #101

[2016-08-20 23:07] #98 closed, assigned to nobody

[2016-08-20 23:08] joshsmith commented on #99
And it needs valid projects, too.

[2016-08-21 18:05] joshsmith opened #109 "Refactor tests to not rely on ENV vars"
We have some tests, like photo uploads, that rely on secret ENV vars. We should allow people to run tests excluding these.

This will require updating the README and adding some config to the tests.

[2016-08-21 18:06] joshsmith commented on #68
Closed by #100.

[2016-08-21 18:06] #68 closed, assigned to joshsmith, begedin

[2016-08-21 23:32] #28 closed, assigned to npendery

[2016-08-21 23:57] joshsmith opened #110 "Add Project Roles API"
We need to add roles to projects.

[2016-08-21 23:58] joshsmith commented on #110
For #26.

[2016-08-22 00:04] joshsmith opened #111 "Add Skill Roles API"
We need to add roles to skills.

[2016-08-22 00:04] joshsmith commented on #111
For #26.

[2016-08-22 00:05] joshsmith commented on #66
Taking this on now.

[2016-08-22 00:36] #66 closed, assigned to joshsmith

[2016-08-22 00:38] joshsmith commented on #69
I'm working on this now.

[2016-08-22 01:03] joshsmith commented on #69
Closed by #113.

[2016-08-22 01:03] #69 closed, assigned to joshsmith

[2016-08-22 01:09] green-arrow commented on #40
Working on this now.

[2016-08-22 01:41] joshsmith opened #114 "Add project category relationships"
I'm adding the missing features in #26 for the project category relationships now.

[2016-08-22 02:19] snewcomer opened #116 "Add Project Skills m2m"

[2016-08-22 03:25] #114 closed, assigned to joshsmith

[2016-08-22 04:05] green-arrow commented on #40
Closed by #115

[2016-08-22 04:05] #40 closed, assigned to green-arrow

[2016-08-22 04:18] joshsmith commented on #39
Closed by #118.

[2016-08-22 04:18] #39 closed, assigned to green-arrow

[2016-08-22 18:30] joshsmith opened #120 "Add skill relationships to user"
Relates to #26.

[2016-08-22 18:55] #120 closed, assigned to joshsmith

[2016-08-22 19:47] joshsmith opened #122 "Add organizations and memberships to user"
For #26.

[2016-08-22 20:04] #122 closed, assigned to nobody

[2016-08-22 20:37] joshsmith opened #124 "Organization has many members"
For #26.
- [x] Test organization view
- [x] Test organization membership view
- [x] Add actual code

[2016-08-23 17:37] #124 closed, assigned to joshsmith

[2016-08-23 22:43] joshsmith opened #127 "Category slug should be unique"
For #26.

Category slug should be unique. There is an index, but no `unique_constraint` in any of the changesets.

[2016-08-23 22:45] joshsmith opened #128 "User validations - uniqueness of email and username, etc"
We need to add user validations that don't exist.

For #26.

[2016-08-23 22:47] joshsmith opened #129 "Add cat enum field to RoleSkill"
We're missing the cat enum field for `RoleSkill`.

For #26.

[2016-08-23 22:48] joshsmith opened #130 "Add has_many posts to project"
`Project` right now is missing the `has_many :posts`. We need to add to both the model and the view.

For #26.

[2016-08-23 22:49] joshsmith opened #131 "Add Organization name presence validation"
Currently, only slug is validated. Since that one is auto-generated, makes more sense to have an error for name missing.

For #26.

[2016-08-23 22:52] joshsmith opened #132 "Add ability to filter by role to organization memberships controlller"
Right now missing ability to filter by role. This is currently an option for the "filter by organization slug" index endpoint on the Rails api:

[code]

For #26.

[2016-08-24 16:22] joshsmith opened #133 "Category.changeset/2 should not permit slug as a parameter"
`&Category.changeset/2` permits slug as a parameter; it should not be permitted.

For #26.

[2016-08-24 16:23] #33 closed, assigned to begedin

[2016-08-24 17:18] joshsmith opened #137 "Add include tags to test runner in CI"
We're not including the envs right now in our CI's test runners.

[2016-08-24 17:21] joshsmith opened #138 "Switch to using ex_machina factories in all tests"
We need to replace `insert_` with `ex_machina` factories in all cases, for example:

`insert_user()` => `insert(:user)`
- [x] `test/controllers/auth_controller_test.exs`
- [x] `test/controllers/comment_controller_test.exs`
- [x] `test/controllers/organization_controller_test.exs`
- [x] `test/controllers/post_controller_test.exs projec`
- [x] `test/controllers/preview_controller_test.exs`
- [x] `te

[2016-08-24 17:21] joshsmith commented on #138
For #26.

[2016-08-24 17:32] joshsmith commented on #61
Missed this, yes. Closing now.

[2016-08-24 17:32] #61 closed, assigned to nobody

[2016-08-24 19:45] #128 closed, assigned to nobody

[2016-08-24 21:51] npendery commented on #129
@JoshSmith what exactly does this do? I found something that I think we could use for it https://github.com/gjaldon/ecto_enum

[2016-08-24 21:53] joshsmith commented on #129
@npendery we've just been using `validate_inclusion` and treating the column as a string for now. Maybe later we can circle back and add database-level integrity by using PG's `enum` or something like this.

[2016-08-24 22:04] #127 closed, assigned to nobody

[2016-08-24 22:59] #133 closed, assigned to nobody

[2016-08-24 23:04] joshsmith commented on #138
I've got this now.

[2016-08-25 00:48] joshsmith commented on #138
Closed by #140.

[2016-08-25 00:48] #138 closed, assigned to joshsmith

[2016-08-25 01:03] joshsmith commented on #81
Actually going to close this because these assertions look to be better handled in view tests and not in the controller tests.

[2016-08-25 01:03] #81 closed, assigned to joshsmith

[2016-08-25 01:13] joshsmith commented on #109
@green-arrow what else do we need to do to consider this closed?

[2016-08-25 01:14] joshsmith commented on #55
@green-arrow is this still a valid issue?

[2016-08-25 02:53] snewcomer commented on #116
https://github.com/code-corps/code-corps-phoenix/pull/119

[2016-08-25 02:58] joshsmith commented on #85
See this possibility https://github.com/AgilionApps/ja_serializer#pagination

[2016-08-25 03:21] joshsmith opened #145 "Add full_name to user and its view"
The front-end expected a `full_name` which is not currently present on the model. This is a virtual composite of `first_name` and `last_name` for easier rendering by the client.

[2016-08-25 13:11] green-arrow commented on #55
@JoshSmith - I don't see the non-nullable items being added to those columns on the organization table, so I think this is still an issue.

[2016-08-25 13:12] green-arrow commented on #109
I think we should be able to consider this closed since we have a pattern down now for excluding those kinds of tests.

[2016-08-25 13:12] #109 closed, assigned to nobody

[2016-08-25 22:18] joshsmith commented on #130
I've got this one now.

[2016-08-25 22:51] joshsmith opened #147 "Investigate too many running test instances"
When running `docker-compose run test mix test` apparently the runs are not spun down for some reason.

We should look into why this is and adjust our `docker-compose.yml` accordingly.

[2016-08-25 23:32] joshsmith commented on #131
This seems to already be the case. Closing.

[2016-08-25 23:32] #131 closed, assigned to nobody

[2016-08-26 00:19] joshsmith commented on #55
@green-arrow okay, maybe we'll tackle tonight then.

[2016-08-26 15:57] begedin opened #151 "Add controller spec for attempting to destroy a non existant record to controllers missing it"
`RoleSkillController`, `UserCategoryController`, `UserSkillController`, `UserRoleController` are all missing this.

Example of such a spec:

https://github.com/code-corps/code-corps-phoenix/blob/develop/test/controllers/project_category_controller_test.exs#L81

[2016-08-26 18:37] HeroicEric opened #153 "Expertise choice format is misleading"
![screen shot 2016-08-26 at 11 32 50 am](https://cloud.githubusercontent.com/assets/602204/18016453/55485fb0-6b81-11e6-8443-d7a1d23758d9.png)

Aligning these choices to the center like this makes it seem like the choices are hierarchical. For example, in the screenshot above, it looks like "Data Science" is a child of "Backend Development"

[2016-08-26 18:38] HeroicEric commented on #153
Oops, moved to https://github.com/code-corps/code-corps-ember/issues/399

[2016-08-26 18:38] #153 closed, assigned to nobody

[2016-08-26 19:03] #132 closed, assigned to npendery

[2016-08-26 22:41] #111 closed, assigned to joshsmith

[2016-08-26 22:43] begedin opened #155 "Reorganize model/controller helper code"
Taken from discussion in #139

It looks like the functions we have there would fit into something like `CodeCorps.Slugs` and `CodeCorps.Filtering` more so than the current `CodeCorps.ControllerHelpers` and `CodeCorps.ModelHelpers` naming/organizational scheme.

Actual naming and organization is open for discussion, of course.

[2016-08-27 01:10] #116 closed, assigned to snewcomer

[2016-08-27 14:55] noslouch commented on #108
Not sure what changed, but now when I booted I got git conflict errors from the test container and web container installing their dependencies at the same time.

[code]

and then the test container goes on to install its deps. when that finishes if I kill docker and do `docker-compose up` again, it boots just fine. I wonder if making test depend on web would fix this?

[2016-08-29 16:02] begedin commented on #75
While we will want pagination on a lot of things, I should emphasize that `Repo.all` isn't the same as `Model.all` in Rails. It's actually more like `Model.where`, so it's not a big deal if we use it. We might continue to use it even with pagination added.

[2016-08-29 16:16] venkatd commented on #75
I believe `Repo.all` hits the database. You can think of it is `Repo.execute_and_fetch_results`

[2016-08-30 04:37] #93 closed, assigned to begedin

[2016-08-30 05:02] #130 closed, assigned to joshsmith

[2016-08-30 05:30] snewcomer commented on #86
@JoshSmith is it filter[post_type]="string" in the url?  I can tackle this if so.

[2016-08-30 13:59] joshsmith commented on #86
I don't think it's `filter` like that, I think just `?post_type=`. @begedin can you confirm?

[2016-08-30 14:00] begedin commented on #86
I honestly can't remember how it was in rails. Ember's URL doesn't include filter, but doesn't necessarily translate to the API. We should see what our rails API is expecting. That's what Ember is providing behind the scene and that's probably what Phoenix should expect to.

[2016-08-30 21:58] joshsmith opened #157 "Simplify organization membership permissions"
See #149.

Find a way to provide a changeset, or params to `load_and_authorize_resource`when authorising the `:create` action. We need it in some cases, because in order to decide if the user is allowed to perform the action, we need to see what type of resource is being created. It is needed for:
- `organization_membership` - User can only **create** their own pending membership and they should n

[2016-08-30 21:59] joshsmith opened #158 "Only a "pending" value should be allowed for the role field for organization memberships"
For creation of an organization membership, only a "pending" value should be allowed for the role field. This should be done trough the changeset, not permissions.

See #149.

[2016-08-30 22:56] joshsmith opened #159 "Identify differences in Postgres db's between Rails and Phoenix and plan migration"
If someone can identify differences we need to account for between these two databases that we need to address in our `phoenix.sql`'s schema, then we can start creating tasks for adding migrations to handle those. These could be column differences, table name differences, etc

Some things exist in Phoenix that are Ecto defaults that we may want to keep.

We should especially identify index name di

[2016-08-31 03:32] noslouch commented on #85
adding pagination to other endpoints is relatively straightforward. As you can see there's more ceremony around seeding the db in dev and test environments than there is in actually adding pagination support to the controller.

[2016-08-31 04:26] snewcomer commented on #85
@JoshSmith what other endpoints need it?  I can take one.

[2016-08-31 04:58] joshsmith opened #166 "Fix various warnings"
[code]

[2016-08-31 08:00] begedin opened #169 "Add status management for posts"
Status can be "open" or "closed".

Initially, it's set to "open". Later on, during update, it can be open or closed at will.

Part of #26

[2016-08-31 08:11] #86 closed, assigned to snewcomer

[2016-08-31 10:08] begedin opened #170 "There is undeterminism in one of the pagination tests"
This happened to me only once, but we need to make the test deterministic:

[code]

[2016-08-31 10:44] begedin opened #171 "Default assets for ember do not seem to work"
Not sure if we have yet to add them, or if it's just something that's broken. Didn't have time to do research.

I'm talking `/icons/user_default_thumb.png`, etc.

[2016-08-31 10:48] noslouch commented on #170
I wrote that test. Can we specify the IDs of the fake posts at insert-time?

[2016-08-31 15:41] joshsmith commented on #171
These were working fine for me, so that's surprising. Curious what the issue is.

[2016-08-31 17:47] eriksandall commented on #159
phoenix.sql `CREATE TABLE categories` specifies character length for the `name`, `slug`, and `description` columns but rails.sql does not.

Is that too granular of a detail, or should I call these out too?

[2016-08-31 17:53] begedin opened #174 "Add tests for all of our authorization policies"
If this turns out to bee too big for a single PR, feel free to create individual issues and tackle them separately
- [x] Category
- [x] Comment
- [x] Organization
- [x] OrganizationMembership
- [x] Preview
- [x] Project
- [x] ProjectCategory
- [x] ProjectSkill
- [x] Role
- [x] RoleSkill
- [x] Skill
- [x] Task
- [x] User
- [x] UserCategory
- [x] UserSkill
- [x] UserRole

[2016-08-31 17:58] begedin opened #175 "Determine what policies we had in Rails that are needed in Phoenix"
There are some policies we have in rails, which we do not in phoenix, such as `post_image`, `comment_image`, etc.

Some of these are missing simply due to not being implemented yet, while some, we do not really need either because there is no endpoint for them or the endpoints are all public.

[code]

[2016-08-31 18:02] begedin opened #176 "Improve our authorization process to also check the changeset"
From #149

We need to find a way to provide a changeset, or params to `load_and_authorize_resource`when authorising the `:create` action. We need it in some cases, because in order to decide if the user is allowed to perform the action, we need to see what type of resource is being created. It is needed for:
- `organization_membership` - User can only **create** their own pending membership and th

[2016-08-31 18:43] eriksandall commented on #159
- phoenix has `assign_number()` FUNCTION that is not in rails
- TABLE `ar_internal_metadata` is missing from phoenix
- TABLE `roll_skills` is missing in rails
- `categories` table has column 'description character varying(255)' in phoenix but 'description text' in rails
- all ALTER TABLE (but not ALTER TABLE ONLY) in rails precedes the table with `public.` (e.g. `public.ar_internal_metadata`) but

[2016-08-31 20:28] #158 closed, assigned to begedin

[2016-08-31 20:31] #83 closed, assigned to begedin

[2016-09-01 21:55] eriksandall commented on #159
- `role_skills` table is missing `cat` column in phoenix.
- `schema_migrations` table has `inserted_at` column in phoenix but not in rails
- `skills` table has `slug` column in rails but not phoenix

**`slugged_routes` TABLE:**
- `organization_id` and `user_id` columns exist in phoenix but not in rails
- `owner_id` and `owner_type` columns exist in rails but not in phoenix
- `slug` column is NOT N

[2016-09-02 00:19] eriksandall commented on #159
- `comments_post_id_index` and `comments_user_id_index` are in phoenix but not in rails
- `index_categories_on_slug` index is created `USING btree (lower((slug)::text))` in phoenix versus `USING btree (slug)` in rails

**Indexes existing in phoenix but not rails:**
- `index_projects_on_user_id_skill_id`
- `posts_number_project_id_index`
- `posts_project_id_index`
- `posts_user_id_index`
- `project

[2016-09-02 00:55] eriksandall commented on #159
**INDEX name differences:**
- `index_skills_on_title` in phoenix versus `index_skills_on_slug` in rails [OK, since no `slug` column in the phoenix table?]
- `organization_memberships_member_id_organization_id_index` in phoenix versus `index_organization_memberships_on_member_id_and_organization_id` in rails
- `organizations_lower_slug_index` in phoenix versus `index_organizations_on_slug` in rails

[2016-09-02 16:01] eriksandall commented on #159
**FOREIGN KEY constraints have different names for these TABLES:**
- `comments`
- `user_categories`
- `project_skills`
- `preview`
- `posts`
- `projects`
- `preview` (`previews` in rails)
- `project_categories`

**FOREIGN KEY constraints exist in phoenix but missing in rails for these TABLES:**
- `organization_memberships`
- `slugged_routes`
- `user_roles`
- `user_skills`

[2016-09-05 15:27] joshsmith opened #178 "Break out "model" tests that hit the database into Repo tests?"
I think in a number of our "model" tests we're hitting the database, which means that they are certainly not side-effect free. It looks as though the convention appears to be to break these tests out into Repo tests, like `UserRepoTest`.

Would like to hear thoughts on this.

[2016-09-05 15:43] joshsmith opened #180 "Update USAGE.md to include the command to run the tests"
It's `docker-compose run test mix test`.

[2016-09-05 15:52] joshsmith opened #181 "Switch from canary to bodyguard"
Another library came to my attention at ElixirConf that looks a lot more explicit in its implementation than `canary` and maps closer to `Pundit` than `cancancan`. It's named [`bodyguard`](https://github.com/schrockwell/bodyguard).

We should do a PR to switch from one to the other. Should be relatively trivial considering the similarity of `can?/3`.

[2016-09-05 15:52] joshsmith commented on #169
Closed by #168.

[2016-09-05 15:52] #169 closed, assigned to begedin

[2016-09-05 15:53] joshsmith commented on #85
Closed by #165.

[2016-09-05 15:53] #85 closed, assigned to noslouch

[2016-09-05 15:53] joshsmith commented on #90
Closed by #92.

[2016-09-05 15:53] #90 closed, assigned to wolverineks

[2016-09-05 15:57] joshsmith opened #182 "Add analytics reporting to Segment"
We need to report some basic funnel analytics up to Segment like we did in the Rails API.

Part of #26.

[2016-09-06 15:56] wolverineks commented on #178
my understanding was that separating the tests would allow more fine-grain control on which tests could be asynchronous. but with ecto 2.0, you can run your database tests async with their 'sandbox' feature. this seems to make the separation a moot point

[ecto 2.0 allows concurrent tests that hit the database](http://blog.plataformatec.com.br/2016/04/ecto-2-0-0-rc-is-out/)

[2016-09-06 16:06] joshsmith commented on #178
Ah, okay, that makes sense @wolverineks. Does that mean that you can also run async controller tests, or is there something else about that which prevents similar behavior? (I did not RTFM)

[2016-09-06 16:11] wolverineks commented on #178
I don't see why not, but haven't used it myself.

[2016-09-06 16:13] joshsmith commented on #178
Does that mean that we need to explicitly set the test as `async`? What's the reason for any explicitness there if Ecto does this automatically now?

[2016-09-08 14:36] npendery opened #183 "Docker-compose up --build not working locally"
When trying to set up with: `docker-compose up --build` I am getting the error:

[code]

[2016-09-10 15:58] snewcomer commented on #183
I did not get an error.  On docker 1.12.0-a fyi

<img width="1440" alt="screen shot 2016-09-10 at 8 58 32 am" src="https://cloud.githubusercontent.com/assets/7374640/18411822/cc85f7a4-7734-11e6-9548-ded23deb0632.png">

[2016-09-10 15:59] snewcomer opened #184 "Do list and detail endpoints need same data?"
Noticed that no matter if list or show endpoint, it returns the same set of fields.  If the list endpoint needs only a subset of the data, then should we re-configure the view?

[2016-09-10 15:59] snewcomer opened #185 "Do list and detail endpoints need same data?"
Noticed that no matter if list or show endpoint, it returns the same data.  If the list endpoint needs only a subset of the data, then should we re-configure the view?

[2016-09-10 15:59] #185 closed, assigned to nobody

[2016-09-11 15:47] npendery commented on #183
Tried on my work computer and I do not get an error, only my personal one. Since this is probably just an isolated bug, I dont think we need an issue.

[2016-09-11 15:47] #183 closed, assigned to nobody

[2016-09-12 16:32] #129 closed, assigned to npendery

[2016-09-12 21:41] joshsmith commented on #159
I think this is basically good to go now. Closing now that I've updated my SQL migration file enough. Thanks @eriksandall.

[2016-09-12 21:41] #159 closed, assigned to nobody

[2016-09-12 21:42] joshsmith commented on #64
Closed by #149.

[2016-09-12 21:42] #64 closed, assigned to nobody

[2016-09-12 21:46] joshsmith commented on #59
Closed #149.

[2016-09-12 21:46] #59 closed, assigned to nobody

[2016-09-13 00:26] joshsmith commented on #184
@snewcomer can you clarify? I think this is how JSON API is intended to work.  Variation between the attributes on requests would be problematic.

[2016-09-13 00:40] snewcomer commented on #184
@JoshSmith I did not know that!  Guess I was just referring to that in many cases, the data needed to populate a list vs a detail can be quite different.  Especially on a grid w/ 50 items, those unneeded queries (esp for related data that isn't used to populate the grid for example) can lead to quite lg performance issues.  But if JSON API enforces same attributes/relationships for all requests, t

[2016-09-13 01:09] joshsmith opened #194 "Prevent email from rendering for anyone other than the currently authed user"
We need to prevent the email from rendering in the API for anyone other than the user who is currently authenticated.

Right now you can see anyone's email in the request, which is not good.

[2016-09-13 01:12] joshsmith opened #195 "Add pagination to users index"
We should add pagination to the user's index so we don't just get `.all`.

[2016-09-13 01:22] snewcomer commented on #184
I guess I would imagine JSON API wouldn't be that strict given detail vs. list payload could be quite different.

[2016-09-13 01:37] joshsmith commented on #184
@snewcomer when it's referencing a relationship the attributes of the referenced objects usually are not included.

When you're just rendering an index of users, for example, the queries won't be all that large. If a user has several `has_many` relationships, then you're just doing that many relationships x `IN` clauses in SQL. There won't be `n+1` queries and the performance won't really suffer.

[2016-09-13 01:39] joshsmith commented on #184
There's definitely reason to consider in some edge cases – where the performance really _is_ suffering – breaking out your endpoints to render different views depending on the situation. I've done this before in Rails where the performance was particularly bad due to some really poor architecture on my part (trying to monkey-patch around things I wanted in Ember but couldn't have easily). But I wo

[2016-09-13 01:40] joshsmith commented on #184
With Ember as your client and using `ember-data`, you'd especially want to consider what side effects this might have in your app, as the statefulness of `ember-data` could lead to some funky data mismatch edge cases.

[2016-09-13 01:44] snewcomer commented on #184
got it.  More headaches than benefits :)

[2016-09-13 01:44] #184 closed, assigned to nobody

[2016-09-13 01:57] joshsmith commented on #178
@wolverineks bump.

[2016-09-13 01:58] joshsmith commented on #175
@begedin I've forgotten the context for this and it's not clear what needs discussed; can you clarify?

[2016-09-13 01:59] joshsmith commented on #108
@noslouch I think this was working for you recently. Is this still an issue?

[2016-09-13 02:01] joshsmith commented on #147
I think this needs a `--rm` command when doing `docker-compose run` and that's why. Someone with more Docker experience to verify?

[2016-09-13 02:10] joshsmith commented on #1
Closed. This works now.

[2016-09-13 02:10] #1 closed, assigned to nobody

[2016-09-13 02:19] joshsmith opened #197 "Staging not setting access-control-allow-origin headers"
For some reason, staging is not setting access-control-allow-origin headers. Try to visit the staging site: http://www.pbqrpbecf.org/ and you'll see that the API does not return these headers. They are set in `config/staging.exs`. Obviously misconfigured somehow.

[2016-09-13 02:37] npendery opened #198 "Remove Phoenix built in PageController"
We need to get rid of the page that renders for the main api page: https://api.pbqrpbecf.org/

[Router endpoint](https://github.com/code-corps/code-corps-phoenix/blob/develop/web/router.ex#L27)

[2016-09-13 02:38] joshsmith commented on #198
@npendery agreed but not sure what the replacement is. Was thinking we could do something like the `/ping` endpoint here instead?

[2016-09-13 02:38] npendery commented on #198
Yeah that would be a good replacement

[2016-09-13 16:44] snewcomer commented on #195
I can tackle this tonight if somebody else hasn't jumped on it.

[2016-09-13 16:45] snewcomer opened #199 "Swap out error view w/ JaSerializer.ErrorSerializer"
https://github.com/AgilionApps/ja_serializer/search?utf8=%E2%9C%93&q=ErrorSerializer

I'll tackle this tonight.

[2016-09-13 21:48] joshsmith opened #202 "Rewrite Post to filter on index as order_by created_at desc"
Post needs rewritten on the `index` action to `order_by` the `created_at` `desc`, i.e. to be in reverse order with the newest post listed first.

For #26.

[2016-09-13 21:51] joshsmith opened #203 "Make find on slugs case-insensitive"
Right now `code-corps` does not return the same result as `CODE-CORPS`. It should.

[2016-09-13 22:16] joshsmith opened #204 "Fix user-skills and user-categories index actions to return authenticated user data"
Right now the `index` actions in both `user-skills` and `user-categories` return everyone's data, instead of the authenticated user's when authenticated.

In Rails we did the following:

[code]

We need to fix this the `filter` or find some other approach to correcting the data returned from this endpoint.

[2016-09-13 22:16] joshsmith commented on #203
For #26.

[2016-09-13 22:16] joshsmith commented on #204
For #26.

[2016-09-13 22:20] joshsmith commented on #197
This was due to a `301` caused by the Ember app hitting the `http` URL and the redirect going to `https`.

[2016-09-13 22:21] #197 closed, assigned to nobody

[2016-09-13 22:21] joshsmith commented on #194
For #26.

[2016-09-13 22:31] joshsmith opened #205 "Add limit to skills autocomplete query"
We should add a `limit` of 5 to the Skills autocomplete query until we can focus on #60 to do this feature justic.

[2016-09-13 22:31] joshsmith commented on #205
For #26.

[2016-09-14 21:19] npendery opened #211 "Fix Build Status on README.md"
![code-corps_code-corps-phoenix__phoenix_api_for_the_code_corps_platform_](https://cloud.githubusercontent.com/assets/12616684/18530407/66858032-7a9f-11e6-88b3-0d702654b84a.png)

[2016-09-15 19:21] #202 closed, assigned to begedin

[2016-09-15 19:28] #203 closed, assigned to nobody

[2016-09-15 19:37] #205 closed, assigned to npendery

[2016-09-15 19:45] #194 closed, assigned to begedin

[2016-09-15 19:50] #195 closed, assigned to snewcomer

[2016-09-15 19:54] #199 closed, assigned to snewcomer

[2016-09-16 00:28] joshsmith opened #218 "Figure out how to track analytics for state changes or introspection into changesets"
The following events either need us to be able to look into state changes (like selected skills for a user) or into the changeset (updating profile picture) to be able to track them.
- [ ] Updated Profile Picture
- [ ] Added Profile Picture
- [ ] Selected Categories
- [ ] Selected Roles
- [ ] Selected Skills
- ~~Approved Organization Membership~~
- ~~Rejected Organization Membership~~
- ~~Removed

[2016-09-16 03:53] rileytaylor opened #221 "Issues deploying phoenix locally via docker"
I haven't any problems until a few days ago with this, but I am currently unable to get the Phoenix app running locally. It runs (I can reach the console output via localhost) but doesn't actually provide any api output at api.localhost.

I'm having issues on Windows (fully up to date docker), and @ivy-g is also having issues on Mac, same problems.

Here is the console output from Ivy's machine:

[2016-09-16 19:11] #182 closed, assigned to nobody

[2016-09-16 21:59] joshsmith opened #222 "Add tests for UserRoleController index and show"
We should add tests for the UserRoleController index and show actions. Use UserSkillController as example for these tests.

[2016-09-16 22:10] #211 closed, assigned to nobody

[2016-09-16 22:20] joshsmith commented on #204
Closed by #216

[2016-09-16 22:20] #204 closed, assigned to npendery

[2016-09-18 06:03] #67 closed, assigned to nobody

[2016-09-18 06:25] joshsmith opened #235 "Add Mailchimp signup to signup flow"
We had this in the Rails API. We should add here to ensure people who sign up are in our email list.

[2016-09-18 13:55] begedin commented on #175
These pundit policies are explicitly defined in rails but we do not have or use them for anything in phoenix right now.

I don't think we actually need them, but I wanted to compile a list, so I get get your view on it and we actually do need any of these. If not, feel free to close.

[2016-09-18 13:57] begedin opened #237 "Auto-switch to in-memory analytics when Segment keys are missing from .env in development"
This should allow contributors to work with analytics-related stuff even if they don't have our segment APi keys.

[2016-09-18 16:51] #198 closed, assigned to nobody

[2016-09-18 20:45] joshsmith opened #238 "Compilation error on lib/phoenix/token.ex with Docker compose"
From @begedin:

[code]

[2016-09-18 23:04] joshsmith commented on #10
Some notes here:

Organization owner can create standalone account
https://stripe.com/docs/connect/standalone-accounts

OAuth
client_id and redirect_uri
development client_id for testing

Connect button to authorize_url http://jsfiddle.net/luddep/vM7R7/

Handle connection or error
authorization code or access denied
make POST request to Stripe
send more information to pre-fill fields
https://strip

[2016-09-18 23:05] joshsmith commented on #10
Some UI:

![screen shot 2016-09-18 at 3 57 21 pm](https://cloud.githubusercontent.com/assets/321667/18619768/b49be8f2-7db9-11e6-8eaa-b2e2ba451b05.png)

[2016-09-19 05:55] begedin commented on #238
Just on update. Based on the response in stack overflow, I tried deleting the build files, but that didn't do the trick.

I went all out and deleted the entire repo-folder, re-cloned, ran `docker-compose build, docker-compose up` and everything seems to be working fine now. Whatever it was, it was likely cache related. I think we can safely close this, so I'll do just that.

[2016-09-19 05:55] #238 closed, assigned to nobody

[2016-09-19 17:17] pt-arvind opened #240 "Troubleshooting the install guide"
When I was installing from docker, I ran these two commands:

[code]

and received an error output that looked like this:

[code]

I didn't really think too much of it until the subsequent step failed:

First off, needed to fetch/install the dependencies:

[code]

Then I tried again and got a different error:

[code]

To fix it, I ran this:

[code]

I tried running:

[code]

but this still gave me

[2016-09-19 18:22] pt-arvind opened #242 "Add Comment View Tests"
[Referred from](https://github.com/code-corps/code-corps-api/issues/26)
- [ ] tests for comment view

[2016-09-19 19:05] joshsmith opened #243 "Add SQUASHING.md to this repo"
We don't have it here. Can basically grab from Ember and place into here. https://github.com/code-corps/code-corps-ember/blob/develop/docs/SQUASHING.md

Would be good to add with details specific to a fork. See discussion in #241.

[2016-09-19 19:58] #240 closed, assigned to nobody

[2016-09-19 20:06] schippada commented on #145
I modified the index action as below. I see the map is updated with the full_name attribute.  But the render method is not rendering the full_name attribute. It may that the render method is using the **struct** attribute to identify the attributes to render
Can someone tell me how to solve this?

def index(conn, params) do
   users =
     User
     |> User.index_filters(params)
     |> preload([:

[2016-09-19 20:16] joshsmith commented on #145
@schippada I think this approach is not quite where you'd want to head.

What I would consider doing instead is tackling this in the user view, and having a `name` (not, `full_name`, that's my mistake!) that simply concatenates the `first_name` and `last_name` strings.

By running `Enum.map` here you'd have to apply that anywhere you'd want access to the `name`, which is too duplicative.

Writing

[2016-09-19 21:45] optikfluffel commented on #108
@JoshSmith I'm having the same issue, also on a Mac.
I saw another error appearing when running `docker-compose build`, at 'Step 7' when trying to install rebar:

[code]

[2016-09-19 22:34] joshsmith commented on #108
@optikfluffel this looks relevant. Can you confirm? https://bugs.erlang.org/browse/ERL-253

[2016-09-19 23:07] joshsmith opened #244 "Rename posts to tasks"
In advance of our redesign, we want to rename Posts and all reference to them as Tasks. This will include things like `post_type` => `task_type`, or maybe more simply: `type`.

[2016-09-20 06:12] joshsmith commented on #244
Possible files to look in:

[code]

Some of these surely have postgres in them.

[2016-09-20 09:31] optikfluffel commented on #108
@JoshSmith yes, looks like what happened to me

[2016-09-20 18:01] joshsmith opened #245 "Write the API documentation for donations"
We should start out #10 by writing out how we expect our API to work by writing the documentation first. This should drive the other decisions that we make.

Anything in italics requires authorization.
- [x] DonationGoal - index, show, _create, edit, delete_ #381
- [x] StripeAccount - _index, show_ #390
- [x] StripeCard - _index, show_ #385
- [x] StripeCustomer - _index, show_ #389
- [x] StripePla

[2016-09-20 18:12] joshsmith commented on #10
`stripe_user[url]`

We'll need to find a way to add public contact information to a project's page for this purpose.

[2016-09-20 18:15] joshsmith commented on #10
Looks like people accepting payments via Stripe will also have to be a business, so if they don't have one, we should recommend they go through Stripe Atlas to create an organization to start accepting those payments: https://stripe.com/atlas/faq#what-does-atlas-cost

EDIT: Actually, sole proprietor is not a formal entity. Just doing business as a person makes you one.

[2016-09-20 18:27] schippada commented on #145
Thanks @JoshSmith  for the clarification. It was simple and now I am able to render the name attribute. But the test is failing. I added the name attribute to the expected_json as  "name" => user.first_name <> " " <> user.last_name. This is throwing the following error.

I am running test as:
[~/opt/dev/workspace/code-corps/code-corps-api → develop]$ mix test
What am I doing wrong.?

ERROR:

 1) t

[2016-09-20 18:30] joshsmith commented on #145
@schippada a pull request on this issue would really help. It's hard to comment without actually being able to see the code.

[2016-09-20 18:41] joshsmith commented on #10
We'll probably want a URL like `/webhooks/stripe`.

We should therefore have a `StripeEvent` model of some sort.

[2016-09-20 20:56] schippada opened #246 "docker-compose up --build failing"
Error:
web_1            | == Compilation error on file lib/phoenix_live_reload/live_reloader.ex ==
web_1            | *\* (File.Error) could not read file "/code-corps-api/_build/dev/lib/phoenix/priv/static/phoenix.js": no such file or directory
web_1            |     (elixir) lib/file.ex:244: File.read!/1
web_1            |     lib/phoenix_live_reload/live_reloader.ex:56: (module)
web_1

[2016-09-20 21:01] joshsmith commented on #246
@schippada have you been trying to build your app both locally and via Docker? Can you try doing (from your Elixir app's root directory) `rm -rf ./build`? It's possible you've tried compiling on your host machine and your app is now attempting to use `./build` compiled resources on Docker, which is an entirely different architecture.

[2016-09-20 22:45] schippada commented on #246
@JoshSmith , I am trying to build locally. Just to be sure, I removed all images. Also removed all stopped images. There is no .build folder in the app directory.

[2016-09-20 22:51] joshsmith commented on #246
@schippada there's definitely a `/build` dir in your project root. You've built via Docker and now you're building with another platform. That's the problem, almost certainly.

Try the above and try again. Just removing Docker images will not fix this.

[2016-09-20 23:54] #180 closed, assigned to wolverineks

[2016-09-21 00:40] schippada commented on #246
Hi Josh, I removed my project folder and cloned again. I am not sure if that is what is causing the problem. I am not sure where the ./build folder is created.

[2016-09-21 18:21] #99 closed, assigned to wolverineks

[2016-09-21 18:26] joshsmith commented on #99
@wolverineks this was done already? Good to comment reason for closure when you do close.

[2016-09-21 18:27] joshsmith commented on #246
@schippada there's also a `deps` directory.

See http://stackoverflow.com/questions/39562118/compilation-error-on-file-lib-phoenix-token-ex-phoenix-socket-struct-0-is-u

We should create an issue to add in those locations for `_build` and `deps` as ENV vars.

[2016-09-21 18:29] wolverineks commented on #99
yup, the seed has posts, projects, and users

[2016-09-21 18:34] wolverineks commented on #174
is this still open? it looks like there are auth tests in the CategoryController already.

[2016-09-21 18:35] joshsmith commented on #174
@wolverineks explicit unit tests for the policies, not in the controllers. Allows us to do more edge case testing.

[2016-09-21 21:30] pt-arvind opened #248 "Go through Rails API Docs and port them to the Phoenix project"
README, CONTRIBUTING, anything in `docs` dir

https://github.com/code-corps/deprecated-code-corps-rails-api/tree/develop/docs

all those should be transferred over and rewritten to remove reference to Rails things and instead talk about Elixir app

[2016-09-21 21:31] pt-arvind opened #249 "Compare API blueprint documentation to actual output"
We want to compare the API blueprint document we've generated to the actual output and fix any inconsistencies on the documentation side.

http://docs.codecorpsapi.apiary.io

[2016-09-21 23:25] joshsmith commented on #246
`mix deps.clean` should work for this.

[2016-09-22 03:48] joshsmith commented on #10
We could consider using https://github.com/gearnode/stripe_eventex for events/webhooks.

[2016-09-22 04:14] joshsmith opened #250 "Add featured column for projects"
We'd like to add and expose a featured column for projects. Can only be set/unset by a site admin.

[2016-09-22 04:16] schippada commented on #246
Josh found several abandoned volumes and removed them. Build is now successful for me.

[2016-09-22 04:16] #246 closed, assigned to nobody

[2016-09-22 04:35] joshsmith commented on #246
Glad you're all good now @schippada!

[2016-09-22 05:25] joshsmith commented on #10
User goes to project page (Donations)
If no account, generate button to create one `Stripe.Connect.generate_button_url(csrf_token)`
If account, button to create new `StripePlan` to start accepting money for this project
User clicks link
User enters Stripe details
User directed back to site (redirect_uri) w/ auth code or error
https://example.com/connect/default/oauth/test?scope=read_write&code=AUT

[2016-09-22 20:36] npendery commented on #145
@schippada, following up on @JoshSmith's comment. If you want to put up a PR we can help fix the error more efficiently.

[2016-09-23 02:25] WenInCode opened #251 "Ember remote development mode not working"
In the ember app you can run `ember server --environment=remote-development` to run the app without having to run the API. My understanding is that this hasn't been updated since the API migrated to phoenix. I tried running:

`ember server --environment=remote-development`

but am running into a bunch of errors.

<img width="1430" alt="code_corps___build_a_better_future_" src="https://cloud.github

[2016-09-23 02:40] joshsmith commented on #251
@WenInCode this requires someone with Heroku access to create that server over there. I'm the bottleneck on this one, I think, and updating everything there is going to be a bit time-consuming. Will mark as high priority but realistically will have to circle back after I work through sketching out some API things for the donations work.

Can you use Docker locally in the meantime?

[2016-09-23 02:54] joshsmith commented on #10
For platforms, we’ve learned that proactively emailing users about the following is helpful:
- Confirmation that you have received their application
- Account status, and whether you need additional information from them
- Confirmation that their account is active and ready to accept payments
- Timing of transfers
- Confirmation when they receive their first payment, and a note on when they’ll rec

[2016-09-23 03:04] joshsmith commented on #10
We could actually allow cents, too. Not hard to do. We'll just have `$0.01` subscriptions and change the amount there.

Not sure best way to handle on front-end or validate on backend.

[2016-09-23 03:16] joshsmith commented on #10
Card brand can be `Visa`, `American Express`, `MasterCard`, `Discover`, `JCB`, `Diners Club`, or `Unknown`.

[2016-09-23 03:38] joshsmith commented on #10
I think we want to handle the following events:

`account.updated` describes an account
Occurs whenever an account status or property has changed.

`account.application.deauthorized` describes an application
Occurs whenever a user deauthorizes an application. Sent to the related application only.
 child parameters

`account.external_account.created` describes an external account (e.g., card or ban

[2016-09-23 04:08] joshsmith commented on #10
The events above imply models for:
- `StripeAccount` - describes standalone account on our platform
- `StripeApplicationFee` - fee paid to code corps
- `StripeCard` - card on a customer's account
- `StripeCharge` - charge event on a customer's card
- `StripeEvent` - event, needs to be tracked to be sure other data is updated
- `StripeInvoice` - invoice for some charge
- `StripePlatformCustomer` -

[2016-09-23 04:09] joshsmith commented on #10
Process for copying a customer on the platform to a customer on a connected account:

https://support.stripe.com/questions/connect-publishable-key-error-with-shared-customers

[2016-09-23 04:43] joshsmith commented on #10
![](https://stripe.com/img/documentation/subscriptions/event_lifecycle@2x.png)

[2016-09-23 04:59] joshsmith commented on #10
Accept donations from project page (as organization owner)
Add Stripe if not exists (Stripe button)
Otherwise click to add donations
Redirect to Stripe UI
Come back, present waiting screen until Stripe accepts
Send email once Stripe accepts
Create goals (must have at least one to start accepting donations)
Able to edit goals
Allow project to start accepting donations (create plan)
Have link for pe

[2016-09-24 18:32] rileytaylor opened #252 "Local API unable to access AWS default images, upload to Cloudinary"
While running Ember and the API locally, we are unable to access Cloudfront/AWS resources, our upload to Cloudinary. To make this function we would need to give out private keys, which isn't a good idea.

As a result of this, some images will return 404 errors, and uploading things (such as the profile image) will not work.

[2016-09-25 08:41] begedin commented on #10
It honestly all looks really good and thorough. The only thing I'm concerned about, but I also assume you did more research in that area than I did, is if we're losing on donations by going recurring-only.

Are the pros of us going recurring donations only outweighing the cons?

[2016-09-25 08:41] begedin commented on #10
Also, regarding cents, I really don't think that's necessary, but it's good to know that we can do it.

[2016-09-25 16:11] joshsmith commented on #10
@begedin I think we can go back and add single donations later. For now it's better to do recurring I think and just focus on that.

[2016-09-25 16:34] schippada commented on #250
@JoshSmith , both create & update operations are piped through the bearer_auth plug. So, if I add the featured column to the model and update the view, that will be all. Please confirm.

Also, I am assuming that the data type is string for this attribute. Let me know

[2016-09-25 19:00] joshsmith opened #255 "Refactor API Blueprint to use transclusion with Hercule"
We have a really large, monolithic API Blueprint file. Would like to be able to split things up.

https://github.com/jamesramsay/hercule

[2016-09-25 19:07] joshsmith opened #256 "Setup initial Stripe configuration"
We need to just follow the basics of the docs here: https://github.com/robconery/stripity-stripe

The keys will need to use the environment.

For #10.

[2016-09-25 19:09] #243 closed, assigned to rileytaylor

[2016-09-25 19:16] joshsmith opened #257 "Add and configure stripe_eventex"
We'll want to add this library https://github.com/gearnode/stripe_eventex for handling Stripe webhook events.

The path for our webhooks should probably be `/webhooks/stripe`.

For #10.

[2016-09-25 19:18] joshsmith opened #258 "Add models for donations"
- [x] `StripePlan` - plan for a connected account #367 - _in progress #383_
- [x] `StripeSubscription` - subscription for a connected account #361 - _in progress #383_
- [x] `DonationGoal` - fundraising goal for a project #374 - _in progress #378_
- [x] `StripeAccount` - describes standalone account on our platform #362 - _in progress #380_
- [x] `StripeCustomer` - customer for the platform (to be

[2016-09-25 19:22] joshsmith opened #259 "Add Stripe Connect OAuth workflow"
Following these docs: https://hexdocs.pm/stripity_stripe/Stripe.Connect.html

We want to:

We'll need to do `generate_button_url(csrf_token)` to yield a button for the account.

When the callback is completed, we'll need to do `oauth_token_callback(code)`.

This will involve an API endpoint for finishing the OAuth token flow, receiving the code back from the Ember front-end.

For #10.

[2016-09-25 19:37] joshsmith opened #260 "Add API endpoint for creating donation goals"
A project needs to be able to create donation goals for itself.

[2016-09-25 19:38] joshsmith opened #261 "Add updatable column to project to enable donations"
https://projects.invisionapp.com/share/RT8PS9FK2#/screens/191325348

The point of this is for the project owner to be able to say:

"Okay, I've got my donation goals set how I want. I'm ready to make this live."

This needs to be explicitly set in the project itself by making an update request, and we need to add a column to do so.

Column could be named something like `donations_enabled`. This _c

[2016-09-25 21:03] rileytaylor opened #264 "Slack webhook unable to add circle CI failed builds to #code-corps-builds"
Circle CI can't send notifications to our build channel when a build fails. It says there are no active webhooks.

[2016-09-25 21:20] joshsmith commented on #264
Should be fixed @rileytaylor. Let me know if not.

[2016-09-25 21:20] #264 closed, assigned to nobody

[2016-09-25 23:54] joshsmith opened #265 "Docker does not appear to update hex dependencies well"
When running `mix deps.get`, it appears that that the `mix.lock` does not update well when using Docker Compose.

I don't have a fix for this, and had to end up changing things manually to make this work well.

[2016-09-25 23:56] joshsmith commented on #256
Closed by #262.

[2016-09-26 00:14] joshsmith opened #266 "Add ex_doc documentation building and publish to GitHub Pages"
We should use `ex_doc` to build our inline docs and publish them to GitHub Pages.

[2016-09-26 00:32] joshsmith opened #268 "Add link to Elixir School writing documentation to our guides"
We should state that we prefer people to add documentation, and link to https://elixirschool.com/lessons/basics/documentation/ to show how to write Elixir docs.

For changes that affect the API endpoints directly, we should link to docs on writing API Blueprint documentation.

[2016-09-26 00:33] joshsmith commented on #268
Should also link to:
- http://elixir-lang.org/docs/stable/elixir/Module.html
- http://elixir-lang.org/docs/master/elixir/writing-documentation.html

[2016-09-26 05:15] joshsmith commented on #250
@schippada the data type would be `bool`. You'd need to add something to the policy, too.

[2016-09-26 17:55] #404 closed

[2016-09-26 17:55] #405 closed

[2016-09-26 17:55] #416 closed

[2016-09-26 17:55] #484 closed

[2016-09-26 17:55] #487 closed

[2016-09-26 20:04] #248 closed, assigned to nobody

[2016-09-26 20:04] #268 closed, assigned to nobody

[2016-09-26 20:15] #266 closed, assigned to nobody

[2016-09-27 10:47] begedin opened #273 "Eliminate many to many (join) relationship from all views"
https://github.com/code-corps/code-corps-ember/pull/466 eliminates many-to-many-relationships from all client-side models, instead opting to rely on join relationships.

The same should be done API side, with views.

[2016-09-27 19:10] joshsmith opened #275 "In Docker, Phoenix does not wait for database to start up"
By the time Phoenix tries to connect to the database, the database is not yet up.

Not sure precisely how to fix but Phoenix should be able to try the connection and only run its startup commands when the database is fully available.

[2016-09-27 19:15] joshsmith commented on #275
[code]

[2016-09-27 19:15] joshsmith commented on #275
This looks like it was introduced by moving to latest `postgrex`.

[2016-09-27 19:17] joshsmith commented on #275
If someone can reproduce by pulling down and starting with a fresh Docker setup, that would be amazing.

[2016-09-27 22:05] #273 closed, assigned to begedin

[2016-09-27 23:21] joshsmith opened #279 "Fix deployment of docs"
Right now our inline documentation deployment is broken in CI because it does not have access to my GitHub user.

We should fix with a better process that doesn't rely on that in particular.

[2016-09-28 04:44] joshsmith commented on #26
We should break out remaining tasks here into new issues and close this. It's stale.

[2016-09-28 17:38] joshsmith opened #281 "Write test for token view"

[2016-09-28 17:38] joshsmith opened #282 "Write test for changeset view"

[2016-09-28 17:38] joshsmith opened #283 "Write test for comment view"

[2016-09-28 17:39] joshsmith opened #284 "Write test for error helpers view"

[2016-09-28 17:39] joshsmith opened #285 "Write test for previews view"

[2016-09-28 17:39] joshsmith opened #286 "Write test for project category view"

[2016-09-28 17:39] joshsmith opened #287 "Write test for slugged route view"

[2016-09-28 17:40] joshsmith opened #288 "Add duplicate validation across all sluggable resources that clash"

[2016-09-28 17:40] joshsmith opened #289 "Add attachment validations"
For size, type, etc.

[2016-09-28 17:41] joshsmith opened #290 "Write an ex_machina strategy to build JSON API payloads"
Write an ex_machina strategy which would allow us simple building of JSON API payloads for tests.

See https://github.com/thoughtbot/ex_machina#custom-strategies

[2016-09-28 17:41] joshsmith commented on #26
Closing in favor of separate issues.

[2016-09-28 17:41] #26 closed, assigned to nobody

[2016-09-28 17:45] joshsmith commented on #15
Closed in favor of #260.

[2016-09-28 17:45] #15 closed, assigned to nobody

[2016-09-28 17:45] joshsmith commented on #18
Implemented.

[2016-09-28 17:45] #18 closed, assigned to nobody

[2016-09-28 17:47] joshsmith commented on #76
Closed. All are added.

[2016-09-28 17:47] #76 closed, assigned to nobody

[2016-09-28 17:47] joshsmith commented on #166
There may be other warnings that have cropped up now.

[2016-09-28 17:48] joshsmith commented on #107
I'm going to close as a "no" since I had no answers and they seem to work fine.

[2016-09-28 17:48] #107 closed, assigned to nobody

[2016-09-28 17:48] joshsmith commented on #137
This has been implemented.

[2016-09-28 17:48] #137 closed, assigned to nobody

[2016-09-28 17:49] joshsmith commented on #108
@noslouch @optikfluffel can you retry and confirm if this is working for you now?

[2016-09-28 17:52] joshsmith commented on #170
@begedin is this still an issue? I've never seen it.

[2016-09-28 17:53] joshsmith commented on #171
Closed in favor of #252.

[2016-09-28 17:53] #171 closed, assigned to nobody

[2016-09-28 18:22] joshsmith commented on #283
Closing, opened in #242

[2016-09-28 18:22] #283 closed, assigned to nobody

[2016-09-28 19:34] begedin commented on #170
@JoshSmith I had it occur once or twice yesterday, so yes, still on.

[2016-09-28 19:36] joshsmith commented on #170
Really? I have never once seen this, particularly not in CI. That's really odd.

Any ideas on how to fix?

[2016-09-28 19:42] begedin commented on #170
Looking at it, it should be fine now, since we're ordering posts explicitly by newest first.

Possibly, some other test is non-deterministic now and I just dismissed it yesterday, assuming it was this one. I would close this. I'll open another one if I see it happening again.

[2016-09-28 22:48] joshsmith commented on #166
Closing. All warnings were addressed previously.

[2016-09-28 22:48] #166 closed, assigned to nobody

[2016-09-29 02:22] #256 closed, assigned to joshsmith

[2016-09-29 15:35] #244 closed, assigned to joshsmith

[2016-09-29 16:55] joshsmith commented on #251
- [x] Add ENV to the Heroku app
- [x] Setup AWS / S3 CloudFront config
- [x] Change DNS configuration
- [x] Verify it all works with Ember

[2016-09-29 17:44] joshsmith commented on #251
Works. 🎉

[2016-09-29 17:44] #251 closed, assigned to joshsmith

[2016-09-30 15:28] SViccari commented on #287
@JoshSmith When you have the time, could you provide additional details around what you like to see tested? I see the SluggedRouteController has tests to cover the show action and while I'm not certain, it seems the [view](https://github.com/code-corps/code-corps-api/blob/develop/web/views/slugged_route_view.ex) is rendering the equivalent of API docs.

[2016-09-30 19:13] joshsmith commented on #287
@SViccari yes, much the same as the other view tests. Historically it has provided some extra help when we're not trying to test _everything_ in the `show`, but do want to test that a field of some sort was added or removed or modified in some way.

Does that make sense?

[2016-10-01 15:56] joshsmith commented on #170
Reopening because this just happened for me:

[code]

[2016-10-01 16:02] noslouch commented on #170
So should the ID be set in the test then? I can update so it's always the
same int, but then I worry about conflicting with previously generated IDs
On Sat, Oct 1, 2016 at 11:56 AM Josh Smith notifications@github.com wrote:

[2016-10-01 16:03] joshsmith commented on #170
@noslouch I'm honestly not sure the best approach here. I would also worry about the conflict.

[2016-10-01 16:03] joshsmith commented on #170
@noslouch we may want to ask the folks who wrote Scrivener Ecto? They would probably have run into this...

[2016-10-02 17:59] #285 closed, assigned to nobody

[2016-10-02 19:03] joshsmith opened #303 "Set Sentry user context"
We want to set the Sentry user context like so:

[code]

Should make a `CodeCorps.Plug.SetSentryUserContext` and some sort of module to contain that, using a similar approach to our `Analytics` module to switch between when we have Sentry enabled and when we do not. This may not be necessary, so attempt without it first (just call `Sentry.Context.set_user_context` directly and see what happens).

[2016-10-02 19:36] joshsmith commented on #279
Fixed by #304.

[2016-10-02 19:36] #279 closed, assigned to joshsmith

[2016-10-02 19:56] joshsmith opened #305 "Add token refresh endpoint"
We need a token refresh endpoint.

Should rename `/login` to `/token`. Add `/token/refresh`.

[2016-10-02 22:46] #305 closed, assigned to joshsmith

[2016-10-03 17:59] joshsmith opened #309 "Add not null constraints everywhere needed"
- [x] `comments` is missing `user_id`, `task_id`
- [x] `organizations` is missing `name`, `description`, `slug`
- [x] `previews` missing `user_id`
- [x] `project_skills` missing `project_id`, `skill_id`
- [x] `projects` missing `organization_id`
- [x] `role_skills` missing `role_id`, `skill_id`
- [x] `slugged_routes` missing `slug`
- [x] `tasks` missing `title`, `state` (which is also missing a de

[2016-10-03 18:00] joshsmith commented on #55
Closing in favor of #309.

[2016-10-03 18:00] #55 closed, assigned to nobody

[2016-10-03 18:46] #286 closed, assigned to pt-arvind

[2016-10-03 18:50] #242 closed, assigned to nobody

[2016-10-03 19:59] asmita005 commented on #309
Hello, i would like to contribute.
where do i locate the above files to make changes to them ?

Thanks

[2016-10-03 23:23] joshsmith commented on #309
Closed by #310.

[2016-10-03 23:23] #309 closed, assigned to nobody

[2016-10-03 23:27] joshsmith commented on #309
@asmita005 sorry this got jumped on so quickly before I could respond! Any of the other API tasks would be good to work on, though.

[2016-10-04 10:44] roryqueue commented on #91
doesn't look like i have privileges to self-assign or move to 'in progress', but i can take a crack at this one. should be a good intro to the codebase

[2016-10-04 10:44] roryqueue commented on #91
making everything compliant with that style guide, that is

[2016-10-04 13:14] roryqueue commented on #91
biggest point of nonconformity was on this one: https://github.com/levionessa/elixir_style_guide/blob/master/README.md#modules which I worked on here: https://github.com/roryqueue/code-corps-api/commit/776af5f0a3e782e974278ee44488916240bad23b. the rest is pretty close to perfect but will go by point-by-point later. lmkwyt 🎱

[2016-10-04 14:42] joshsmith commented on #91
@roryqueue if you could open as a PR then we can discuss there. Also if we could add to README. Do we have to tell `credo` to use this, too?

[2016-10-04 16:37] fahrradflucht commented on #275
I could NOT reproduce that with a clean setup. Either it's fixed or it is intermittent.

##

Edit:
I deleted the containers but  kept the images. This time I hit exactly that issue.

[2016-10-04 16:42] roryqueue commented on #91
sure, i'll add a commit pointing this out in the readme and open a pr in a bit. looking through the credo source now, it's not clear if you can use it w/ a style guide other than its default

[2016-10-04 17:05] joshsmith commented on #174
Blocked #157.

[2016-10-04 17:06] joshsmith commented on #91
@roryqueue okay, let me know either way. If that's the case, then we may need to use its style guide. What do you think?

[2016-10-04 17:14] begedin commented on #176
The methodology for this has been implemented already and can be found in https://github.com/code-corps/code-corps-api/blob/develop/web/helpers/authentication_helpers.ex#L19

It's also already being used by some of our controllers, so this should be just a matter of applying the same methodology where needed.

[2016-10-04 17:17] roryqueue commented on #91
sure, at quick glance they actually seem compatible anyways, although it looks like neither is exhaustive and each covers areas the other does not

[2016-10-04 17:19] roryqueue commented on #91
ah yeah, he specifically references the same guide you mentioned above in the prelude actually: https://github.com/rrrene/elixir-style-guide/blob/master/README.md#prelude

[2016-10-04 18:35] fahrradflucht opened #313 "Clarify how to access api subdomain on localhost in INSTALLING.md"
The API must be accessed on an `api` subdomain to work properly. [INSTALLING.md](https://github.com/code-corps/code-corps-api/blob/develop/docs/INSTALLING.md#verify-it-worked) doesn't mention how this should be accomplished and just assumes hitting `http://api.localhost:49235/users` would work, which isn't the case unless one makes changes to `/etc/hosts`.

This should be changed to a working solu

[2016-10-04 18:38] joshsmith commented on #313
@Fahrradflucht thanks for this! We'll address ASAP.

Wish there were a way for Docker to write to hosts automagically, but that seems unlikely. This was a nice thing about Vagrant that I miss.

[2016-10-04 19:38] joshsmith opened #315 "Use Docker for tests on Circle instead of manually building on Circle's container"
We should be able to discover issues with contributors' local setups if we decide to use Docker to build on Circle instead.

We need to:
- [ ] Find out if this is achievable
- [ ] Make it happen!

[2016-10-04 22:03] joshsmith commented on #265
Closed by #311 and #314.

[2016-10-04 22:03] #265 closed, assigned to nobody

[2016-10-05 02:12] joshsmith commented on #91
@roryqueue so it sounds like we should mention that and mention that `credo` enforces it? If you include in that PR, that would help a ton.

[2016-10-05 02:14] joshsmith commented on #275
@Fahrradflucht I think the only way this can be fixed is by running a script to check if the pg connection is available. I poked around Docker support forums and didn't find much else useful.

[2016-10-05 10:21] fahrradflucht opened #319 "Use exec instead of run for testing"
[USAGE.md](https://github.com/code-corps/code-corps-api/blob/develop/docs/USAGE.md#running-tests) suggests that tests should be executed by running `docker-compose run test mix test`. This creates a new container on every test run ([See the docs](https://docs.docker.com/engine/reference/commandline/run/)). This doesn't make an sense to me because what is the initial `test` container even there for

[2016-10-05 12:34] fahrradflucht commented on #315
Running the tests with docker shouldn't be a challenge.

`docker-compose run test mix test --cover` would setup all dependent containers for the test container and execute the tests. The only gotcha I see with this is that `apiary` would not get created then, which means that any faults that might arise with this could not be detected.

The only workaround for this would be running `docker-compose

[2016-10-05 14:07] fahrradflucht commented on #221
Is this still present after the latest changes to the docker setup?

[2016-10-05 14:08] joshsmith commented on #315
Hmm this may very well be more heartache than it's worth at this juncture. I'm not keen on spending time figuring out issues around this and potentially slowing tests significantly when we do already have CI working. In other words, not sure benefit is worth cost right now.

[2016-10-05 15:12] joshsmith commented on #221
@rileytaylor @ivy-g can you verify this?

[2016-10-05 15:29] roryqueue commented on #91
PR here: https://github.com/code-corps/code-corps-api/pull/321

will be afk for a bit now though

[2016-10-05 20:14] sbatson5 opened #322 "Refactor tests in project_category_controller_test"
This repo has great test coverage!  Some of it is slightly redundant at times.  Here we test both the records created and the JSON returned by our API (which are the same):
https://github.com/code-corps/code-corps-api/blob/develop/test/controllers/project_category_controller_test.exs#L97-L103

I think the importance of the controller is to return formatted JSON that our front-end can consume. Can

[2016-10-05 20:14] sbatson5 commented on #322
And this is me volunteering for it too 😛

[2016-10-05 22:17] joshsmith commented on #322
@sbatson5 I think that makes sense. It's also important to note that we have view tests. Basically the controller test needs to test not the whole payload, but just that the view renders the expected data back to us.

It really is a matter of isolating what new things have been added to the stack that aren't tested more fully and appropriately at some lower level.

Would be happy to see a PR and e

[2016-10-05 22:29] sbatson5 commented on #322
Thanks for the context! I've only worked on a Elixir app that just serves JSON for our front-end, so I've never actually written a view test in Phoenix.

At the very least, I think we can extract some helpers.

[2016-10-06 11:31] vidmantas commented on #313
I didn't do any changes to my hosts, and didn't use lvh.me, but it works just right out of the box: http://take.ms/IEtI5

[2016-10-06 11:46] fahrradflucht commented on #313
Is this on Windows?

[2016-10-06 11:47] vidmantas commented on #313
Nope, OS X 10.11.6

[2016-10-06 12:06] fahrradflucht commented on #313
This is on Chrome? I did a quick test and Chrome seems support (redirect them to just localhost under the hood) localhost subdomains. Safari and Firefox do not though.

##

Related Internet-Draft: https://tools.ietf.org/html/draft-west-let-localhost-be-localhost-02

[2016-10-06 12:14] vidmantas commented on #313
You're right, Firefox/Safari works with lvh.me or hosts changed. However, they were suggesting to download json as a file, not to view, so I'm not sure if this is feasible option for development. However, I agree this is worth mentioning in the INSTALLING doc. I can provide an explanation there as a PR if you want :)

[2016-10-06 21:12] joshsmith commented on #319
@Fahrradflucht I don't think this was intentional. However, I believe that the `test` container auto-exits right now.

Do you need to know the container name to run `exec`?

The container was really just there to group in `MIX_ENV` and separate it some notionally from `web`.

[2016-10-06 21:27] joshsmith commented on #174
@begedin marked in progress due to work you're doing in #320

[2016-10-06 23:08] joshsmith commented on #313
@vidmantas that sounds more like an issue with MIME type.

After some brief searching, I came upon this, which seems related: https://github.com/json-api/json-api/issues/1048

[2016-10-07 04:19] joshsmith opened #324 "Stop using get_by!/2 in CodeCorps.ModelHelpers"
When using `get_by!/2`, plug uses a different `conn` than our original one. This breaks CORS by not allowing us to render out our CORS headers.

While this behavior was nice to get started with, it is not tenable moving forward.

We can either solve this by using Canary's `load_resource` to render `json-api` errors where needed, or by rendering our own errors in the controller.

Either way, we nee

[2016-10-07 08:48] fahrradflucht commented on #319
`exec` executes a given command in a given container so you need to know the name.

As far as my testing goes the `test` container doesn't auto-exit.

[2016-10-07 21:18] joshsmith commented on #319
@Fahrradflucht you're right, it no longer auto-exits. I can't keep track of all the futzing I've done with compose.

[2016-10-07 21:22] joshsmith opened #326 "Eliminate the build_payload helpers from controller tests"
#323 introduced changes to how we build payloads in our tests with a simpler, more coherent `ex_machina` strategy.

We need to replace this in our controller tests.

Should also add information on this into our README.

You should be able to build a payload with relationships, using

[code]

[2016-10-07 21:25] #303 closed, assigned to begedin

[2016-10-07 21:56] #290 closed, assigned to begedin

[2016-10-07 23:05] #176 closed, assigned to begedin

[2016-10-07 23:12] joshsmith commented on #324
`get_by!/2` here:

[code]

[2016-10-08 18:40] joshsmith opened #331 "Add ja_resource"
We need to add `ja_resource` before proceeding with some API tasks.

[2016-10-08 19:36] joshsmith commented on #331
This may need to be split up into separate parts.

[2016-10-08 20:26] #174 closed, assigned to joshsmith

[2016-10-08 20:33] sbatson5 commented on #322
Should be good to close this issue @JoshSmith. Hopefully it counts towards that Hacktoberfest t-shirt 😉

[2016-10-08 20:33] #322 closed, assigned to nobody

[2016-10-09 17:23] joshsmith commented on #284
This actually won't be helpful to write a test for. Don't think we really even use this much.

[2016-10-09 17:23] #284 closed, assigned to joshsmith

[2016-10-09 18:48] joshsmith commented on #175
These are not needed!

[2016-10-09 18:48] #175 closed, assigned to nobody

[2016-10-09 23:35] joshsmith opened #339 "/projects/:project_id/tasks/:id does not accomplish what it's supposed to"
Our route `/projects/:project_id/tasks/:id` which is hit by Ember when loading, for example, `/code-corps/code-corps/tasks/1` is bugged.

Right now, the `TaskController` takes the `:id` of the task. But in Ember, we only have the task's `_number_`, not its `id`.

We need to change this to load from the `number` in the case of just this endpoint.

[2016-10-10 00:43] joshsmith opened #340 "Determine if tasks/:task_id/comments/:id is necessary"
We have a `/tasks/:task_id/comments/:id` that our Ember app does not appear to be hitting in tests (is not in the Mirage config), but which the API does serve.

We should determine if this route is strictly necessary, and if not, remove it.

[2016-10-10 00:43] joshsmith opened #341 "Determine if organizations/:organization_id/memberships is necessary"
We have a `/organizations/:organization_id/memberships` that our Ember app does not appear to be hitting in tests (is not in the Mirage config), but which the API does serve.

We should determine if this route is strictly necessary, and if not, remove it.

[2016-10-10 00:48] #222 closed, assigned to joshsmith

[2016-10-10 03:43] #282 closed, assigned to joshsmith

[2016-10-10 04:46] joshsmith opened #342 "Switch back to mix coveralls.circle in circle.yml"
Our test coverage is not updating. We're up to around 87% or so from where we were at previously, but `excoveralls` is not reporting correctly.

Once this PR is merged and a new release is available (or we just use GitHub URL) we can switch back to `mix coveralls.circle` and use our `--include` again. https://github.com/parroty/excoveralls/pull/72

[2016-10-10 11:39] vidmantas commented on #313
As you can see, I've added a note to `INSTALLING.md` about the situation. If you know any better way how to handle it, I would be glad to contribute.

[2016-10-10 13:18] begedin commented on #341
Looked into this:

First of all, ember fetches memberships using ID coalescing, so technically, we do not need this endpoint, nor do we need an `organization_filter` on the `OrganizationMembership.index_filters`.

That means that when we fetch an organization, it will contain a list of membership ids. Later, when needed, those will be fetched via coalesced IDs, same as any other `hasMany` relation

[2016-10-10 13:19] begedin commented on #340
See my reply on https://github.com/code-corps/code-corps-api/issues/341#issuecomment-252615504

The same applies here.

[2016-10-10 19:31] joshsmith commented on #313
@vidmantas thank you! Will review soon.

[2016-10-11 00:03] schippada commented on #145
@npendery , I fixed the issue as per Josh's suggestion and then created the pull request. I will connect with you tomorrow and will resolve this.

[2016-10-11 02:47] CamonZ opened #345 "Broken Seeds"
As a developer, I want to be able to run the db seeds so that I can contribute to the API's development.

_Technical Details:_

The [seeds file](https://github.com/code-corps/code-corps-api/blob/develop/priv/repo/seeds.exs#L321) is broken for `ProjectSkill` due to a call to a non–existent function `changeset` when it should be [`create_changeset`](https://github.com/code-corps/code-corps-api/blob/

[2016-10-11 05:14] #345 closed, assigned to nobody

[2016-10-11 05:53] #14 closed, assigned to joshsmith

[2016-10-11 05:57] #281 closed, assigned to joshsmith

[2016-10-11 19:24] joshsmith commented on #91
Closed by #347

[2016-10-12 16:11] #287 closed, assigned to joshsmith

[2016-10-13 01:37] #331 closed, assigned to joshsmith

[2016-10-13 01:44] joshsmith commented on #249
Closed by #338.

[2016-10-13 01:44] #249 closed, assigned to joshsmith

[2016-10-13 01:45] joshsmith commented on #155
Some progress was made on this in #332 but could be refined further.

[2016-10-13 01:46] joshsmith commented on #155
In particular would like to move most of what's in the model helpers into query helpers, but eventually replace even most of those with filters that primarily use filtering in `ja_resource` or something.

[2016-10-13 18:50] joshsmith commented on #181
Per #332 the current `canary` library is causing two records to load. `bodyguard` will not.

[2016-10-13 18:52] joshsmith opened #349 "Add ja_resource to controllers that lack it"
#332 added `ja_resource` to a lot of places, but some are still missing it.

We need to finish up that work by adding it to new controllers.

[2016-10-13 18:53] joshsmith opened #350 "Test Segment Analytics tracking"
We reworked our analytics tracking in #332 but we need to figure out how to make this tracking testable.

[2016-10-13 18:56] joshsmith commented on #342
Closed by #348 and others.

[2016-10-13 18:56] #342 closed, assigned to nobody

[2016-10-13 18:57] #91 closed, assigned to nobody

[2016-10-13 19:35] begedin commented on #181
Outline of what needs to be done here
- switch dependency from canary to bodyguard
- move most code from `models/ability.ex` into individual policy classes, with minor tweaks
- get rid of load_and_authorize_resource and instead manually call authorize from within `handle_create/_update/_delete`

Should probably be done with adding ja_resource into controllers that don't have it yet

[2016-10-13 19:41] joshsmith commented on #181
I'll tackle #349 first actually today, if I can get to it in time.

[2016-10-14 23:52] joshsmith opened #353 "Update meta once changes are folded into ja_resource"
We have to `render` manually in controllers with pagination. When this issue https://github.com/AgilionApps/ja_resource/issues/33 is resolved, we should be able to do this via some sort of serialization options hook.

[2016-10-14 23:55] #349 closed, assigned to begedin

[2016-10-15 00:07] #155 closed, assigned to joshsmith

[2016-10-15 00:07] #324 closed, assigned to nobody

[2016-10-16 09:51] vidmantas commented on #235
I'll try to do it. Can I use https://hex.pm/packages/mailchimp as a new dependency? I don't quite like it as it doesn't have a proper test coverage, but was unable to find anything better.

[2016-10-16 13:34] joshsmith commented on #235
@vidmantas that's fine, I think. Do you want to open an issue over there re: the test coverage?

[2016-10-17 09:00] vidmantas commented on #235
@JoshSmith okay, good suggestion. I'll try to do the integration first to make sure it's really something we can rely on.

[2016-10-17 18:56] joshsmith opened #360 "Create StripeApplicationFee model"
For #258

Per Stripe's documentation: https://stripe.com/docs/api#application_fee_object

When you collect a transaction fee on top of a charge made for your user (using Stripe Connect), an application fee object is created in your account. You can list, retrieve, and refund application fees.

ATTRIBUTES
- `stripe_id`, corresponds to `id` `string`
- `object` `string` , value is "application_fee"
-

[2016-10-17 19:02] joshsmith opened #361 "Create StripeSubscription model"
For #258

https://stripe.com/docs/api#subscription_object

ATTRIBUTES
- `stripe_id`, corresponds to `id` `string`
- `application_fee_percent decimal` A positive decimal that represents the fee percentage of the subscription invoice amount that will be transferred to the application owner’s Stripe account each billing period.
- `canceled_at timestamp` If the subscription has been canceled, the date

[2016-10-17 23:08] joshsmith opened #362 "Add StripeAccount model"
For #258

https://stripe.com/docs/api#account_object

The account is the Stripe account of an `Organization` on Code Corps. An account may have multiple `Plan`s that belong to a specific project.

ATTRIBUTES
- `id string` A unique identifier for the account
- `business_name string` The publicly visible name of the business
- `business_url string` The publicly visible website of the business
- `cha

[2016-10-17 23:12] joshsmith opened #363 "Add StripeCard model"
For #258

See https://stripe.com/docs/api#card_object

ATTRIBUTES
- `id string` ID of card (used in conjunction with a customer or recipient ID)
- `brand string` Card brand. Can be Visa, American Express, MasterCard, Discover, JCB, Diners Club, or Unknown.
- `customer string` The customer that this card belongs to. This attribute will not be in the card object if the card belongs to an account or

[2016-10-17 23:29] joshsmith opened #364 "Add StripeCharge model"
For #258

See https://stripe.com/docs/api#charge_object

ATTRIBUTES
- `stripe_id`, corresponds to `id string`
- `object string`, value is "charge"
- `amount positive` integer or zero A positive integer in the smallest currency unit (e.g., 100 cents to charge $1.00 or 100 to charge ¥100, a 0-decimal currency) representing how much to charge. The minimum amount is $0.50 US or equivalent in charge cu

[2016-10-17 23:31] joshsmith opened #365 "Add StripeEvent model"
For #258

See https://stripe.com/docs/api#event_object

ATTRIBUTES
- `id string`
- `object string`, value is "event"
- `api_version string` The Stripe API version used to render data. Note: this property is populated for events on or after October 31, 2014.
- `created timestamp`
- `livemode boolean`
- `pending_webhooks` positive integer or zero Number of webhooks yet to be delivered successfully (

[2016-10-17 23:45] joshsmith opened #366 "Create StripeInvoice model"
For #258

Stripe's docs: https://stripe.com/docs/api#invoice_object

ATTRIBUTES
- `stripe_id`, corresponds to `id string`
- `object string` , value is "invoice"
- `amount_due integer` Final amount due at this time for this invoice. If the invoice’s total is smaller than the minimum charge amount, for example, or if there is account credit that can be applied to the invoice, the amount_due may be 0

[2016-10-17 23:48] joshsmith opened #367 "Create StripePlan model"
For #258

Stripe's docs: https://stripe.com/docs/api#plan_object

Belongs to a `Project` on Code Corps.

ATTRIBUTES
- `stripe_id`, corresponds to `id string`
- `amount` positive integer or zero The amount in cents to be charged on the interval specified
- `created timestamp`
- `name string` Display name of the plan

[2016-10-17 23:51] joshsmith opened #368 "Create StripeCustomer model"
For #258

Customer for the platform (to be copied to the connect account) and customer for the standalone account.

https://stripe.com/docs/api#customer_object

ATTRIBUTES
- `id string`
- `created timestamp`
- `currency string` The currency the customer can be charged in for recurring billing purposes.
- `default_source string` ID of the default source attached to this customer.
- `delinquent bool

[2016-10-18 00:05] joshsmith opened #369 "Create StripeTransfer model"
For #258

Per Stripe's documentation: https://stripe.com/docs/api#transfer_object

ATTRIBUTES
- `id string
- `object string`, value is "transfer"
- `amount integer` Amount (in cents) to be transferred to your bank account
- `amount_reversed integer` Amount in cents reversed (can be less than the amount attribute on the transfer if a partial reversal was issued).
- `application_fee string`
- `balan

[2016-10-18 01:30] joshsmith opened #370 "Add webhook handling for Stripe events"
- [ ] We can do a plug maybe for deseralizing events of any type
- [ ] Controllers will handle creating/updating the right things based on the events we're getting (cards, etc)
- [ ] There needs to be two webhooks on Stripe, an account webhook and a connect webhook

I think we want to handle the following events:
- [ ] `account.updated` describes an account (on the connect webhook)

We will want t